<div id="help_popup" class="modal newModel">
  <div class="modal-content">
    <div class="modal-header clearfix text-content">
      <h5 class="left">
        <%= t('views.help.help') %>
      </h5>
      <div class="modal-action-btn right">
        <a href="javascript:void(0);" title="Cancel" class="modal-action modal-close waves-effect">
          <i class="material-icons close">close</i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <p><%= t("views.help.email_suppoprt") %><a href="mailto:support@opensourcebilling.org">support@opensourcebilling.org</a></p>

      <p><%= t("views.help.happy_invoicing") %></p>
    </div>
  </div>
</div>