<div class="content_top">
  <div class="primary_heading">
    <h1><%= t("views.help.help") %></h1>
  </div>
</div>
<!--content_top-->

<div class="content_middle">
  <div class="help_page">
    <p><%= t("views.help.email_suppoprt") %><a href="mailto:support@opensourcebilling.org">support@opensourcebilling.org</a></p>

    <p><%= t("views.help.happy_invoicing") %></p>
  </div>
</div><!--content_top-->


