<div class="content_top">
  <div class="primary_heading">
    <h1>Help</h1>
  </div>
</div>
<!--content_top-->

<div class="content_middle">
  <div class="help_page">
    <p>Help yourself and Heaven will help you too. :)</p>

    <p>We hope you won't need any help to use this software.</p>

    <p>Never mind, just kidding... We'll be right back with detailed help. Currently, stuck in some other high priority
      stuff.</p>

    <p><i>Happy Invoicing!</i></p>
  </div>
</div><!--content_top-->


