<td colspan="5" style="border-top: 1px solid #DDDDDD; text-align: left; ">
  <div class="paginator">
    <%= paginate @sent_emails, :remote => true %>
    <div class="paging_info">
      <%= page_entries_info @sent_emails %>
      <%= custom_per_page %> per page
    </div>
  </div>
</td>