<p id="notice"><%= notice %></p>

<p>
  <b>Email Contents:</b>
<div id="email_body" style="padding:10px;border:1px solid #ccc;">
  <%= @sent_email.content.html_safe unless @sent_email.content.blank? %>
</div>
</p>


<%= link_to 'Back', :controller => "sent_emails" %>
