<li class="collection-item">
  <% invoice = Invoice.find_by_id(activity.trackable_id) %>
  <a href="<%= invoice_path(invoice) if invoice.present? %>" data-remote="true">
  <span>
    <p><strong><%= activity.owner.user_name %></strong> created invoice</p>
    <time class="activity-time"><i class="material-icons">access_time</i> <span><%= distance_of_time_in_words(Time.now - activity.created_at.to_time) %></span></time>
  </span>
  </a>
</li>
