<div class="graph_wrapper">
  <div class="dashboard_box">
    <div class="heading">
      <h1>
        <%= t('invoices') %>
      </h1>
      <% if current_user.settings.currency.present? and current_user.settings.currency == "On" %>
      <%= select_tag :currency, options_from_collection_for_select(currencies, :id, :unit,@currency.try(:id)),class: "currency" %>
      <% end %>
      <p class="bar_details"><%= t('views.dashboard.view_chart_detail') %></p>
    </div>
    <div class="graph_content">
      <div id="dashboard-chart" style="height: 191px; width: 100%;"></div>
      <%#= image_tag "graph.png", :size => "447x191", :alt => "" %>
    </div>
  </div>
</div>