<div class="graph_wrapper">
  <div class="dashboard_box">
    <div class="heading">
      <h1>Invoices <span>(USD)</span></h1>
      <p class="bar_details">click on a bar to see details</p>
    </div>
    <div class="graph_content">
      <div id="dashboard-chart" style="height: 191px; width: 100%;"></div>
      <%#= image_tag "graph.png", :size => "447x191", :alt => "" %>
    </div>
  </div>
</div>