<div class="overview_box">
  <div class="overview_box_heading">
    <h1 class="small">OSB Reports</h1>
  </div>
  <div class="osb_content">
    <p>
      Payments Collection, Tax Summary, Revenue by Client and more insightful reports!
    </p>
    <a class="btn_large" href="/reports">See my reports</a>
  </div>
</div><!--overview_box-->