<div class="col s12 l12 xl7">

  <div class="dashboard-whitebox">
    <h3 class="">
      Stats
      <div id="radioBtn" class="btn-group">
        <a class="btn btn-primary btn-sm active intro dashboard-index-false-intro" data-intro='This will show each amount with its actual currency'>Actual Currency</a>
        <a class="btn btn-primary btn-sm intro" data-intro='This will show the sum of amounts billed and income in base currency'>Base Currency</a>
      </div>
    </h3>
    <div class="data-wrapper">
      <ul class="currentData">
        <%= render 'actual_currency' %>
      </ul>
      <ul class="pastData">
        <%= render 'base_currency' %>
      </ul>
    </div>
  </div>
</div>