<a href="javascript:void(0);" onclick="$('.submit_payment_term').click();" title="<%= t('views.common.save') %>" class="modal-action waves-effect">
  <i class="material-icons" >done</i>
</a>
<a href="javascript:void(0);" title="<%= t('views.common.cancel') %>" class="modal-action modal-close waves-effect">
  <i class="material-icons close">close</i>
</a>
