<% model_class = PaymentTerm %>
<h5 class="left">
  <% if form.object.persisted? %>
    <%= t '.title', default: t('helpers.titles.edit'+'Payment Term',
                               default: "Edit Payment Term")
    %>
  <% else %>
    <%= t '.title', :default => t('helpers.titles.new'+'Payment Term',
                                  :default => "New  Payment Term") %>
  <% end %>
</h5>