<% inlineform_action = params[:add_more] ? "inlineform:save_and_add_more" : "inlineform:save" %>
<%= "{\"action\": \"#{inlineform_action}\", \"record\": \"<option value='#{@payment_term.id}' number_of_days='#{@payment_term.number_of_days}' selected>#{@payment_term.description}</option>\"}".html_safe%>
