<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p>Dear <%= @client.first_name %>,</p>

<p>
  Your invoice <%= @invoice.invoice_number %> due date is <%= @invoice.due_date %>
</p>

<p>Thanks,<br>
  vteams
</p>
</body>
</html>


