# Ignore bundler config.
/.bundle
.idea

# Ignore the default SQLite database.
/db/*.sqlite3
/db/schema.rb
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
log/*.log
tmp

*.rbc
capybara-*.html
.rspec
/log
/public/system
/public/*
config/initializers/secret_token.rb
config/database.yml
config/deploy/*.rb
config/config.yml
config/sidekiq.yml

## Environment normalisation:
/.bundle
/vendor/bundle

# these should all be checked in to normalise the environment:
# Gemfile.lock
.ruby-version
.ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

node_modules/*

# track below files
!/public/404.*
!/public/422.*
!/public/500.*
!/public/bg_img.png
