<%
  @num = 0
  page = 0
%>
<div class="invoice-items-table primary">
  <%= render partial: 'estimates/estimate_line_items_table', locals: {estimate: estimate, items: estimate.estimate_line_items.order(created_at: :desc).offset(0).limit(12), headers: true} %>
</div>

<% line_items = estimate.estimate_line_items.order(created_at: :desc).offset(12 + page*18).limit(18) %>
<% while line_items.present? do%>
  <div class="invoice-items-table secondary">
    <%= render partial: 'estimate_line_items_table', locals: {estimate: estimate, items: line_items, headers: request.format.pdf?} %>
  </div>
  <% page+=1 %>
  <% line_items = estimate.estimate_line_items.order(created_at: :desc).offset(12 + page*18).limit(18) %>
<% end %>