<div class="new-invoice-action-btn right">
  <%= button_tag :submit, title: t('views.common.send'), class: 'estimate_submit_button' do %>
      <i class='material-icons'>send</i>
  <% end %>
  <%= button_tag :submit, name: 'save_as_draft', value: true, title: t('views.common.save'), class: 'estimate_submit_button' do %>
      <i class='material-icons'>done</i>
  <% end %>
  <%= link_to raw("<i class='material-icons close' title='#{t('helpers.links.close')}'>close</i>"), invoices_path %>
</div>
