window.currency_symbol = "<%= @currency.code %>"
$('#subtotal_currency_unit,#discount_amount_currency_unit,#total_currency_unit').text('<%= @currency.unit %>');
$("#estimate_sub_total_lbl, #estimate_total_lbl, .tax_amount").formatCurrency({symbol: window.currency_symbol})
$selectDropdown = $('#discount_type').empty().html(' ').prop("disabled", false);
$selectDropdown.append($("<option></option>").attr("value", '%').text("%"));
$selectDropdown.append($("<option></option>").attr("value", '<%= @currency.unit %>').text('<%= @currency.unit %>'));
$selectDropdown.trigger('contentChanged');
