<li class="collection-item">
  <span>
    <p><strong><%= activity.owner.user_name %></strong> created estimate</p>
    <time><i class="material-icons">access_time</i> <%= activity.created_at.strftime("%d-%b-%y") %></time>
  </span>
</li>