<% if activity.present? && activity.parameters['obj'].present? && activity.parameters['obj']['status'].present? %>
  <% if estimate_status(activity) == 'sent' %>
    <div class='col-sm-12'><%= activity.owner.user_name %> sent estimate to client on <%= activity.created_at.strftime("%d-%b-%y") %></div>
  <% elsif estimate_status(activity) == 'invoiced' %>
    <div class='col-sm-12'><%= activity.owner.user_name %> changed this estimate to invoice on <%= activity.created_at.strftime("%d-%b-%y") %></div>
  <% end %>
<% end %>
