<% if activity.present? && activity.parameters['obj'].present? && activity.parameters['obj']['status'].present? %>
  <li class="collection-item">
    <% if estimate_status(activity) == 'sent' %>
    <span>
      <p><strong><%= activity.owner.user_name %> sent estimate to client</strong></p>
      <time><i class="material-icons">access_time</i> <%= activity.created_at.strftime("%d-%b-%y") %></time>
    </span>
    <% elsif estimate_status(activity) == 'invoiced' %>
    <span>
      <p><strong><%= activity.owner.user_name %> changed this estimate to invoice</strong></p>
      <time><i class="material-icons">access_time</i> <%= activity.created_at.strftime("%d-%b-%y") %></time>
    </span>
    <% end %>
  </li>
<% end %>
