<% model_class = Invoice %>
<h5 class="left">
  <% if f.object.persisted? %>
      <%= t '.title', :default => t('helpers.titles.edit', :model => t(model_class.model_name.singular),
                                    :default => "Edit #{model_class.model_name.human}") %>:
  <% else %>
      <%= t '.title', :default => t('helpers.titles.new', :model => t(model_class.model_name.singular),
                                    :default => "New  #{model_class.model_name.human}") %>:
  <% end %>

  <span title="Invoice Number"><%= invoice.formatted_invoice_number %></span>

  <%= link_to '', 'javascript:void;', class: 'hidden', data: {remote: true}, id: 'open_new_popup_link' %>
</h5>
