<div class="new-invoice-action-btn right">
  <%= button_tag :submit, name: :save_as_draft, value: true, title: t('views.common.save_as_draft'), class: 'invoice_submit_button' do %>
      <i class='material-icons'>done</i>
  <% end %>

  <%= button_tag :submit, name: :send_invoice, value: true, title: t('views.invoices.send_new_invoice'), class: 'invoice_submit_button' do %>
      <i class='material-icons'>send</i>
  <% end %>

  <%= button_tag :submit, name: :send_paid, value: true, title: t('views.invoices.send_paid_invoice'), class: 'invoice_submit_button' do %>
      <i class='material-icons'>drafts</i>
  <% end %>

  <%= link_to raw("<i class='material-icons close' title='#{t('helpers.links.close')}'>close</i>"), invoices_path %>
</div>
