<% model_class = Invoice %>
<h5 class="left">
  <% if f.object.persisted? %>
      <%= t '.title', :default => t('helpers.titles.edit', :model => t(model_class.model_name.singular),
                                    :default => "Edit #{model_class.model_name.human}") %>:
  <% else %>
      <%= t '.title', :default => t('helpers.titles.new', :model => t(model_class.model_name.singular),
                                    :default => "New  #{model_class.model_name.human}") %>:
  <% end %>
  <% selected_client = @client.present? ? @client.id : f.object.client_id %>
  <%= f.select :client_id, options_for_select(load_clients(action_name, invoice.company_id),
                                              selected: selected_client),
               {prompt: t('views.invoices.select_client'), include_blank: false}  %>
</h5>
