<% @num = 0 %>
<div class="invoice-items-table primary">
  <%= render partial: 'invoice_line_items_table', locals: {invoice: invoice, items: invoice.invoice_line_items.offset(0).limit(12), headers: true} %>
</div>
<% invoice.invoice_line_items.find_in_batches(batch_size: 18).each do |items| %>
  <div class="invoice-items-table secondary">
    <%= render partial: 'invoice_line_items_table', locals: {invoice: invoice, items: items, headers: request.format.pdf?} %>
  </div>
<% end %>