<div id="main-content">
  <!--- main content --->
  <div class="row">
    <!--- breadcrum Bar --->
    <div class="col s12 breadcrum-bar">
      <div class="card-white-panel ">
        <h3>Invoices<a href="#"> / Acitve</a></h3>
      </div>
    </div>
    <div class="invoice-box mCustomScrollbar clearfix">
      <!--- Invoices Card Title--->
      <p><span class="activity-date">Today</span></p>
      <div class="clearfix">
        <%= render partial: 'invoice_card', collection: @invoices, as: :invoice %>
      </div>
    </div>
  </div>
</div>
