<div class="alert alert-error" style="display:block;">
  <button type="button" class="close">&times;</button>
  <table>
    <tbody>
    <tr>
      <td>
        <span><%= t('views.invoices.invoice_deleted') %></span>
      </td>
    </tr>
    </tbody>
  </table>
</div>



