<div class="alert alert-error" style="display:block;">
  <button type="button" class="close">&times;</button>
  <table>
    <tbody>
    <tr>
      <td>
        <span>This invoice has been deleted.</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>



