<td colspan="6" style="border-top: 1px solid #DDDDDD; text-align: left; ">
  <div class="paginator">
    <%= paginate @tasks, :remote => true %>
    <div class="paging_info">
      <% unless @tasks.blank? %>
          <%= page_entries_info @tasks %>
          <%= custom_per_page %> per page
      <% end %>
    </div>
  </div>
</td>