<h5>
  <%= link_to 'USERS', sub_users_path %>
  <span><%= "(#{@users.count})" %></span>
</h5>
<div class="user-list">
  <div id="users">
    <%= render partial: 'user', collection: @users %>
  </div>
  <div class="list-buttons">
    <%= render 'sub_user_form' %>
    <div id="user_btn_container">
      <a href="javascript:;" id="user_add_btn" class="sidebar-btn">ADD</a>
      <a href="javascript:;" id="user_edit_btn" class="sidebar-btn disabled">EDIT</a>
      <a href="javascript:;" id="user_delete_btn" class="sidebar-btn disabled">REMOVE</a>
    </div>
  </div>
</div>