<div id='qb_link' class='btn-position'>
  <div class="field_row description">
    <div class="label_field single intro settings-index-false-intro" data-intro = 'From here you can import data from Quick Books' data-step="11"><span><ipp:connectToIntuit></ipp:connectToIntuit></span></div>
    <%= yield %>
    <script type="text/javascript" src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js"></script>
    <script>
    intuit.ipp.anywhere.setup({menuProxy: '/path/to/blue-dot', grantUrl: '<%= authenticate_import_data_url %>'});
    </script>
  </div>
</div>
