$("<%=j render(:partial => 'notifications') %>").appendTo($(".infinit-scroll"));
$('.pagination123').html('<a rel="next" data-remote="true" href="/notifications?locale=en&page=<%= params[:page].to_i + 1 %>"></a>');
$('.notification-container').infinitePages({
  loading: function () {
    $(this).text('Loading next page...');
  },
  error: function () {
    $(this).button('There was an error, please try again');
  }
});
