<% @estimates.group_by { |d| d.group_date }.each do |date, estimates| %>
  <p><span class="activity-date"><%= date %></span></p>
  <div class="flex-wrapper">
    <%= render partial: 'estimate_card', collection: estimates, as: :estimate %>
  </div>
<% end %>
