<% @clients.group_by { |d| d.group_date }.each do |date, clients| %>
    <p><span class="activity-date"><%= date %></span></p>
    <div class="flex-wrapper">
      <%= render partial: 'client_card', collection: clients, as: :client %>
    </div>
<% end %>
<%= paginate @clients %>