<% inlineform_action = params[:add_more] ? "inlineform:save_and_add_more" : "inlineform:save" %>
<%= "{\"action\": \"#{inlineform_action}\", \"record\": \"<option value='#{@client.id}' selected>#{@client.organization_name}</option>\"}".html_safe%>
