last_option = $("#invoice_client_id option:last").clone();
$("#invoice_client_id option:last").remove();
$("#invoice_client_id").append('<option value="<%= @client.id %>" selected><%= @client.organization_name %></option>').append(last_option);
$("#invoice_client_id").trigger('contentChanged');
$('.modal').modal('close');
showSuccessMsg("<%= t('views.clients.created_msg') %>");
