<% if @client_exists %>
    showWarningSweetAlert('error', "<%= t('views.clients.duplicate_email') %>", function(){});
<% else %>
    last_option = $("#invoice_client_id option:last, #estimate_client_id option:last").clone();
    $("#invoice_client_id option:last, #estimate_client_id option:last").remove();
    $("#invoice_client_id, #estimate_client_id").append('<option value="<%= @client.id %>" selected><%= @client.organization_name %></option>').append(last_option);
    $("#invoice_client_id, #estimate_client_id").trigger('contentChanged');
    $('.modal').modal('close');

swal({icon: "success", title: "<%= t('views.sessions.done') %>"});
$('.select_2').material_select('destroy');
$('.select_2').select2('destroy');
$('.select_2').select2();

<% end %>
