<td colspan="8" style="border-top: 1px solid #DDDDDD; text-align: left; ">
  <div class="paginator">
    <%= paginate @recurring_profiles, :remote => true %>
    <div class="paging_info">
      <% unless @recurring_profiles.blank? %>
          <%= page_entries_info @recurring_profiles %>
          <%= custom_per_page %> per page
      <% end %>
    </div>
  </div>
</td>