<!--- Activity sidebar --->
<aside id="activity-sidebar" class="side-show">
  <div class="activity-scroll-holder mCustomScrollbar">
    <!--- activities list--->
    <div class="status-info active">
      <!--user listing-->
      <h5><a href="">USER </a></h5>
      <div class="user-list" id="users">
        <div class="list-item">
          <div class="checkbox-item">
            <input type="checkbox" class="filled-in" id="chk003" />
            <label for="chk003"></label>
            <div class="invoice-name">
              <img src="/assets/avatarimg1.jpg" alt="avatar" class="responsive-img circle"/>
            </div>
          </div>
          <div class="invoice-details editContent">
            <div class="input-field">
              <select disabled>
                <option value="1">Aptent Dictum</option>
                <option value="2">Taciti Vestibulum</option>
                <option value="3">Sociosq Quisque</option>
              </select>
            </div>
            <div class="input-field">
              <input type="email" value="aptent@gmail.com" placeholder="" disabled>
            </div>
            <div class="input-field datepicker">
              <input type="text" value="08 jan, 2016" placeholder="" disabled>
              <i class="material-icons">date_range</i>
            </div>
          </div>
        </div>
        <div class="list-item">
          <div class="checkbox-item">
            <input type="checkbox" class="filled-in" id="chk004" />
            <label for="chk004"></label>
            <div class="invoice-name">
              <img src="/assets/avatarimg2.jpg" alt="avatar" class="responsive-img circle"/>
            </div>
          </div>
          <div class="invoice-details editContent">
            <div class="input-field">
              <select disabled>
                <option value="01">Taciti Vestibulum</option>
                <option value="02">Aptent Dictum</option>
                <option value="03">Sociosq Quisque</option>
              </select>
            </div>
            <div class="input-field">
              <input type="email" value="traciti@hotmail.com" placeholder="" disabled>
            </div>
            <div class="input-field datepicker">
              <input type="text" value="06 jan, 2016" placeholder="" disabled>
              <i class="material-icons">date_range</i>
            </div>
          </div>
        </div>
        <div class="list-item">
          <div class="checkbox-item">
            <input type="checkbox" class="filled-in" id="chk005" />
            <label for="chk005"></label>
            <div class="invoice-name">
              <img src="/assets/avatarimg3.jpg" alt="avatar" class="responsive-img circle"/>
            </div>
          </div>
          <div class="invoice-details editContent">
            <div class="input-field">
              <select disabled>
                <option value="001">Sociosq Quisque</option>
                <option value="002">Aptent Dictum</option>
                <option value="003">Taciti Vestibulum</option>
              </select>
            </div>
            <div class="input-field">
              <input type="email" value="sociosq@yahoo.com" placeholder="" disabled>
            </div>
            <div class="input-field datepicker disabled">
              <input type="text" value="01 jan, 2016" placeholder="" disabled>
              <i class="material-icons">date_range</i>
            </div>
          </div>
        </div>

        <div class="addContent">
          <div class="input-field">
            <select>
              <option value="1">Select staff</option>
              <option value="2">staff 1</option>
              <option value="3">staff 2</option>
            </select>
          </div>
          <div class="input-field">
            <input type="text" value=" Email" placeholder="">
          </div>
          <div class="input-field datepicker">
            <input type="text" value="Select date" placeholder="">
            <i class="material-icons">date_range</i>
          </div>
        </div>
        <div class="list-buttons">
          <a href="#" class="addbtn">Add</a>
          <a href="#" class="editbtn">Edit</a>
          <a href="#" class="removebtn">Remove</a>
        </div>
      </div>
    </div>
    <div class="status-info">
      <!--company listing-->
      <h5><a href="">Companies </a></h5>
      <div class="user-list" id="companies">
        <div class="list-item">
          <div class="checkbox-item">
            <input type="checkbox" class="filled-in" id="chk006" />
            <label for="chk006"></label>
            <div class="invoice-name green-light">CP</div>
          </div>
          <div class="invoice-details editContent">
            <h5>Coast Prea</h5>
            <div class="input-field">
              <select disabled>
                <option value="1">Aptent Dictum</option>
                <option value="2">Taciti Vestibulum</option>
                <option value="3">Sociosq Quisque</option>
              </select>
            </div>
            <div class="input-field">
              <input type="email" value="aptent@gmail.com" placeholder="" disabled>
            </div>
            <div class="input-field countries">
              <select disabled>
                <option value="1">CANADA</option>
                <option value="2">USA</option>
                <option value="3">MALAShia</option>
              </select>
            </div>
          </div>
        </div>
        <div class="list-item">
          <div class="checkbox-item">
            <input type="checkbox" class="filled-in" id="chk007" />
            <label for="chk007"></label>
            <div class="invoice-name blue-light">SN</div>
          </div>
          <div class="invoice-details editContent">
            <h5>SageNext</h5>
            <div class="input-field">
              <select disabled>
                <option value="1">Taciti Vestibulum</option>
                <option value="2">Aptent Dictum</option>
                <option value="3">Sociosq Quisque</option>
              </select>
            </div>
            <div class="input-field">
              <input type="email" value="traciti@hotmail.com" placeholder="" disabled>
            </div>
            <div class="input-field countries">
              <select disabled>
                <option value="1">USA</option>
                <option value="2">CANADA</option>
                <option value="3">MALAShia</option>
              </select>
            </div>
          </div>
        </div>
        <div class="list-item">
          <div class="checkbox-item">
            <input type="checkbox" class="filled-in" id="chk008" />
            <label for="chk008"></label>
            <div class="invoice-name purple-light">VT</div>
          </div>
          <div class="invoice-details editContent">
            <h5>Vteams</h5>
            <div class="input-field">
              <select disabled>
                <option value="1">Sociosq Quisque</option>
                <option value="2">Aptent Dictum</option>
                <option value="3">Taciti Vestibulum</option>
              </select>
            </div>
            <div class="input-field">
              <input type="email" value="sociosq@yahoo.com" placeholder="" disabled>
            </div>
            <div class="input-field countries">
              <select disabled>
                <option value="1"> CANADA </option>
                <option value="2">USA</option>
                <option value="3">Malashia</option>
              </select>
            </div>
          </div>
        </div>

        <div class="addContent">
          <div class="input-field">
            <select>
              <option value="1">Select staff</option>
              <option value="2">staff 1</option>
              <option value="3">staff 2</option>
            </select>
          </div>
          <div class="input-field">
            <input type="text" value=" Email" placeholder="">
          </div>
          <div class="input-field datepicker">
            <input type="text" value="Select date" placeholder="">
            <i class="material-icons">date_range</i>
          </div>
        </div>

        <div class="list-buttons">
          <a href="#" class="addbtn">Add</a>
          <a href="#" class="editbtn">Edit</a>
          <a href="#" class="removebtn">Remove</a>
        </div>
      </div>
    </div>
</aside>