<% model_class = RecurringFrequency %>
<h5 class="left">
  <% if form.object.persisted? %>
    <%= t '.title', default: t('helpers.titles.edit'+'Recurring Frequency',
                               default: "Edit Recurring Frequency")
    %>
  <% else %>
    <%= t '.title', :default => t('helpers.titles.new'+'Recurring Frequency',
                                  :default => "New  Recurring Frequency") %>
  <% end %>
</h5>