<% unless request.format.pdf? %>
  <div class="header_data_right">
    <ul class="download_report">
      <li class="download_report_title">Export to:</li>
      <li class="download_sep">CSV</li>
      <li>Excel</li>
    </ul>
    <ul class="print_report">
      <li><%= link_to 'Print Report', params.except('action','format').merge({format: 'pdf', action: 'reports'}) %></li>
    </ul>
    <div class="report_duration">
    </div>
    <!-- report_duration -->
  </div>
<% end %>