<div class="flex-item">
  <div class="card-white-panel"  data-target="modal1">
    <div class="checkbox-item">
      <div class="invoice-name green-light"><%= @project.image_name rescue nil %></div>
    </div>
    <div class="invoice-details">
      <strong><a href="#"><%= task.name %></a></strong>
      <div class="amount-box">
        <span>Description</span>
        <span class="usertitle"><%= truncate task.description %></span>
      </div>
      <div class="agedWrapper">
        <div class="aged-ar">
          <strong class="text-blue left">50% <small>Done</small></strong>
          <strong class="text-content right">200 <small>HRS</small></strong>
        </div>
        <div class="progress">
          <div class="determinate" role="progressbar"
               aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
          </div>
        </div>
      </div>
    </div>
    <div class="action-btn-group">
      <a href="#"  class="edit-modal"><i class="material-icons">create</i></a>
      <a href="#"><i class="material-icons">delete</i></a>
      <a id="dLabel" class='dropdown-button' href='#' data-activates='dropdown12' data-alignment="right" data-beloworigin="true">
        <i class="material-icons">more_vert</i>
      </a>
      <!-- Dropdown Structure -->
      <ul id='dropdown12' class='dropdown-content z-depth-4'>
        <li><a href="#!"><i class="material-icons">archive</i> Send to Archive</a></li>
      </ul>
    </div>
  </div>
</div>