<% @project_tasks.group_by { |d| d.group_date(project_task_date_format) }.each do |date, tasks| %>
    <h3 class="table-view-heading"><%= "#{t('project')} #{t('header.links.time_tracking.task')}" %></h3>
    <p>
      <span class="activity-date"><%= params[:group] == 'week' ? month_date_range(date) : date %></span>
    </p>
    <div class="flex-wrapper">
      <%= render partial: 'tasks', collection: tasks, as: :task %>
    </div>
<% end %>
