<%- model_class = Project -%>

<div class="content_top">
  <div class="primary_heading">
    <h1><%= t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                      :default => "Edit #{model_class.model_name.human}") %></h1>
  </div>
</div><!--content_top-->

<%= render :partial => 'form' %>

<div id="tasks_holder" style="display: none;" class="quick_create_wrapper">
  <%= render 'tasks/new_task' %>
</div>

<div id="clients_holder" style="display: none;" class="quick_create_wrapper">
  <%= render 'clients/new_client' %>
</div>