<% @payments.group_by { |d| d.group_date }.each do |date, payments| %>
  <p><span class="activity-date"><%= date %></span></p>
  <div class="flex-wrapper">
    <%= render partial: 'payment_card', collection: payments, as: :payment %>
  </div>
<% end %>
