<div class="content_top">
  <div class="primary_heading">
    <h1>Editing payment</h1>
  </div>
</div><!--content_top-->

<%= render 'form' %>

<%= link_to 'Show', @payment %> |
<%= link_to 'Back', payments_path %>
