jQuery('tbody#payment_body').html('<%= escape_javascript render("payment") %>');
//jQuery('.paginator').html('<%#= escape_javascript(paginate(@payments, :remote => true).to_s) %>' +
//        '<div class="paging_info"><%#= page_entries_info @payments %></div>');
jQuery('tfoot#paging_links').html('<%= escape_javascript render("paging") %>');
jQuery('#bulk_actions').html('<%= escape_javascript render("bulk_actions") %>');
jQuery("table.table_listing").trigger('update');
jQuery(".payment_listing .text-overflow-class").ellipsis({row:2})