<%
colspan = { 'sent_emails' => '5', 'payments' => '7', 'companies' => '6'}
listing = '@'+ controller_name
%>
<td colspan="<%= colspan[controller_name] || 8 %>" class = 'page_styling'>
  <div class="paginator">
    <%= paginate eval(listing), :window => 9 , :remote => true %>
    <div class="paging_info">
      <% unless eval(listing).blank? %>
          <%= page_entries_info eval(listing) %>
          <%= custom_per_page %> per page
      <% end %>
    </div>
  </div>
</td>
<script type="text/javascript">
  window.applyChosen();
</script>
