<%= button_tag :submit, value: true, title: t('views.common.save'), class: 'invoice_submit_button waves-effect' do %>
  <i class='material-icons'>done</i>
<% end %>
<a href="javascript:void(0);" title="<%= t('views.common.cancel') %>" class="modal-action modal-close waves-effect">
  <i class="material-icons close">close</i>
</a>
