<div id="main-content" class='<%= "#{ 'side-show' if side_nav_opened?}"%>'>
  <div class="flex-wrapper">
    <div class="flex-item col-sm-12 breadcrum-bar">
      <div class="card-white-panel">
        <h3>
          <span><%= link_to 'Roles', roles_url %> </span>
        </h3>
      </div>
    </div>
  </div>
</div>
<div class="container roles-container">
  <div class="invoice-box-holder">
    <%= render partial: 'form' %>
  </div>

</div>
