<%unless @item_exists%>
<% inlineform_action = params[:add_more] ? "inlineform:save_and_add_more" : "inlineform:save" %>
<%= "{\"action\": \"#{inlineform_action}\",\"exists\": \"#{@item_exists}\", \"record\": \"<option value='#{@item.id}' selected type='#{params[:association] == "account" ? "account_level" : "company_level"}'>#{@item.item_name}</option>\"}".html_safe%>
<%else%>
<%= "{\"exists\": \"#{@item_exists}\"}".html_safe%>
<%end%>