<div class="content_top">
  <div class="primary_heading">
    <h1>Editing item</h1>
  </div>
</div><!--content_top-->
<div class="items_wrapper">
  <%= render 'form' %>
</div>
<%#= link_to 'Show', @item %>
<%#= link_to 'Back', items_path %>
