$('body').append("<%=escape_javascript render partial: 'form', locals: {item: @item} %>");
Item.load_functions();
$("#account_association").change(function() {
    if ($(this).is(':checked')) {
        return $('.company_checkbox').prop('checked', true);
    }
});
elem = $("#item_form_popup");
Popup.initialize(elem);
Popup.open(elem);
<% get_introduction_parameter %>
setTimeout(function () {
    if($('.intro').hasClass("<%= intro_class %>")){
        intro = introJs();
        intro.setOptions({
            steps: [
                {
                    element: document.getElementById("step1"),
                    intro: "Here you can enter the name of item you want to create"
                },
                {
                    element: document.getElementById("step2"),
                    intro: "Here you can add description of item"
                },
                {
                    element: document.getElementById("step3"),
                    intro: "Here you can set the default unit cost for item"
                },
                {
                    element: document.getElementById("step4"),
                    intro: "Here you can set the default quantity of item"
                },
                {
                    element: document.getElementById("step5"),
                    intro: "Here you can make item available for multiple or all companies"
                }
            ]
        });
        intro.start();
        $(".introjs-helperLayer").addClass('client-popup-introjs-helperLayer');
        $(".introjs-tooltipReferenceLayer").prepend("<div class='arrow bounce'><a class='fa fa-arrow-down fa-2x' href='#'></a></div>");
        $('#item_form_popup').removeClass("introjs-fixParent");
        intro.onafterchange(function() {
            $('#item_form_popup').removeClass("introjs-fixParent");
            $(".introjs-helperLayer").addClass('client-popup-introjs-helperLayer');
        });
    }
},1000);

$('.select_2').material_select('destroy');
//$('.select_2').select2();
