
    <!--- Activity sidebar --->

    <!--- content --->
    <div id="main-content">
      <!--- main content --->
      <div class="row">
        <!--- breadcrum Bar --->
        <div class="col s12 breadcrum-bar">
          <div class="card-white-panel ">
            <h3>Taxes <a href="#"> / Acitve</a></h3>
          </div>
        </div>
        <div class="invoice-box tax-box mCustomScrollbar clearfix">
          <!--- Invoices Card Title--->
          <p><span class="activity-date">Today</span></p>
          <div class="clearfix">
            <!--- Client Card --->
            <div class="col s12 m6 l4">
              <div class="card-white-panel" data-target="modal1">
                <div class="checkbox-item">
                  <input type="checkbox" class="filled-in" id="chk1" />
                  <label for="chk1"></label>
                  <div class="invoice-name green-light">RD</div>
                </div>
                <div class="invoice-details">
                  <h5> +6+6</h5>
                  <strong>93.0 %</strong>
                </div>
                <div class="action-btn-group">
                  <a href="#"><i class="material-icons">send</i></a>
                  <a href="#"  class="modal-close edit-modal" data-target="modal2"><i class="material-icons">create</i></a>
                  <a href="#"><i class="material-icons">delete</i></a>
                  <a id="dLabel" class='dropdown-button' href='#' data-activates='dropdown12' data-alignment="right" data-beloworigin="true">
                    <i class="material-icons">more_vert</i>
                  </a>
                  <!-- Dropdown Structure -->
                  <ul id='dropdown12' class='dropdown-content z-depth-4'>
                    <li><a href="#!"><i class="material-icons">archive</i> Send to Archive</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l4">
              <div class="card-white-panel">
                <div class="checkbox-item">
                  <input type="checkbox" class="filled-in" id="chk2" />
                  <label for="chk2"></label>
                  <div class="invoice-name  blue-light">SC</div>
                </div>
                <div class="invoice-details">
                  <h5> +6+6</h5>
                  <strong>93.0 %</strong>
                </div>
                <div class="action-btn-group">
                  <a href="#"><i class="material-icons">send</i></a>
                  <a href="#"><i class="material-icons">create</i></a>
                  <a href="#"><i class="material-icons">delete</i></a>
                  <a id="dLabel" class='dropdown-button' href='#' data-activates='dropdown13' data-alignment="right" data-beloworigin="true">
                    <i class="material-icons">more_vert</i>
                  </a>
                  <!-- Dropdown Structure -->
                  <ul id='dropdown13' class='dropdown-content z-depth-4'>
                    <li><a href="#!"><i class="material-icons">archive</i> Send to Archive</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l4">
              <div class="card-white-panel">
                <div class="checkbox-item">
                  <input type="checkbox" class="filled-in" id="chk3" />
                  <label for="chk3"></label>
                  <div class="invoice-name  purple-light">AG</div>
                </div>
                <div class="invoice-details">
                  <h5> +6+6</h5>
                  <strong>93.0 %</strong>
                </div>
                <div class="action-btn-group">
                  <a href="#"><i class="material-icons">send</i></a>
                  <a href="#"><i class="material-icons">create</i></a>
                  <a href="#"><i class="material-icons">delete</i></a>
                  <a id="dLabel" class='dropdown-button' href='#' data-activates='dropdown14' data-alignment="right" data-beloworigin="true">
                    <i class="material-icons">more_vert</i>
                  </a>
                  <!-- Dropdown Structure -->
                  <ul id='dropdown14' class='dropdown-content z-depth-4'>
                    <li><a href="#!"><i class="material-icons">archive</i> Send to Archive</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l4">
              <div class="card-white-panel">
                <div class="checkbox-item">
                  <input type="checkbox" class="filled-in" id="chk32" />
                  <label for="chk32"></label>
                  <div class="invoice-name  orange-light">CC</div>
                </div>
                <div class="invoice-details">
                  <h5> +6+6</h5>
                  <strong>93.0 %</strong>
                </div>
                <div class="action-btn-group">
                  <a href="#"><i class="material-icons">send</i></a>
                  <a href="#"><i class="material-icons">create</i></a>
                  <a href="#"><i class="material-icons">delete</i></a>
                  <a id="dLabel1" class='dropdown-button' href='#' data-activates='dropdown19' data-alignment="right" data-beloworigin="true">
                    <i class="material-icons">more_vert</i>
                  </a>
                  <!-- Dropdown Structure -->
                  <ul id='dropdown19' class='dropdown-content z-depth-4'>
                    <li><a href="#!"><i class="material-icons">archive</i> Send to Archive</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l4">
              <div class="card-white-panel">
                <div class="checkbox-item">
                  <input type="checkbox" class="filled-in" id="chk33" />
                  <label for="chk33"></label>
                  <div class="invoice-name green-light">SN</div>
                </div>
                <div class="invoice-details">
                  <h5> +6+6</h5>
                  <strong>93.0 %</strong>
                </div>
                <div class="action-btn-group">
                  <a href="#"><i class="material-icons">send</i></a>
                  <a href="#"><i class="material-icons">create</i></a>
                  <a href="#"><i class="material-icons">delete</i></a>
                  <a id="dLabel" class='dropdown-button' href='#' data-activates='dropdown20' data-alignment="right" data-beloworigin="true">
                    <i class="material-icons">more_vert</i>
                  </a>
                  <!-- Dropdown Structure -->
                  <ul id='dropdown20' class='dropdown-content z-depth-4'>
                    <li><a href="#!"><i class="material-icons">archive</i> Send to Archive</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--- Invoices Card Title--->
          <p><span class="activity-date">1/2/2017</span></p>
          <!--- Invoices Card --->
          <div class="clearfix">
            <div class="col s12 m6 l4">
              <div class="card-white-panel">
                <div class="checkbox-item">
                  <input type="checkbox" class="filled-in" id="chk01" />
                  <label for="chk01"></label>
                  <div class="invoice-name  blue-light">SN</div>
                </div>
                <div class="invoice-details">
                  <h5> +6+6</h5>
                  <strong>93.0 %</strong>
                </div>
                <div class="action-btn-group">
                  <a href="#"><i class="material-icons">send</i></a>
                  <a href="#"><i class="material-icons">create</i></a>
                  <a href="#"><i class="material-icons">delete</i></a>
                  <a id="dLabel" class='dropdown-button' href='#' data-activates='dropdown17' data-alignment="right" data-beloworigin="true">
                    <i class="material-icons">more_vert</i>
                  </a>
                  <!-- Dropdown Structure -->
                  <ul id='dropdown17' class='dropdown-content z-depth-4'>
                    <li><a href="#!"><i class="material-icons">archive</i> Send to Archive</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l4">
              <div class="card-white-panel">
                <div class="checkbox-item">
                  <input type="checkbox" class="filled-in" id="chk02" />
                  <label for="chk02"></label>
                  <div class="invoice-name  purple-light">BJ</div>
                </div>
                <div class="invoice-details">
                  <h5> +6+6</h5>
                  <strong>93.0 %</strong>
                </div>
                <div class="action-btn-group">
                  <a href="#"><i class="material-icons">send</i></a>
                  <a href="#"><i class="material-icons">create</i></a>
                  <a href="#"><i class="material-icons">delete</i></a>
                  <a id="dLabel" class='dropdown-button' href='#' data-activates='dropdown18' data-alignment="right" data-beloworigin="true">
                    <i class="material-icons">more_vert</i>
                  </a>
                  <!-- Dropdown Structure -->
                  <ul id='dropdown18' class='dropdown-content z-depth-4'>
                    <li><a href="#!"><i class="material-icons">archive</i> Send to Archive</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l4">
              <div class="card-white-panel">
                <div class="checkbox-item">
                  <input type="checkbox" class="filled-in" id="chk03" />
                  <label for="chk03"></label>
                  <div class="invoice-name  orange-light">CC</div>
                </div>
                <div class="invoice-details">
                  <h5> +6+6</h5>
                  <strong>93.0 %</strong>
                </div>
                <div class="action-btn-group">
                  <a href="#"><i class="material-icons">send</i></a>
                  <a href="#"><i class="material-icons">create</i></a>
                  <a href="#"><i class="material-icons">delete</i></a>
                  <a id="dLabel1" class='dropdown-button' href='#' data-activates='dropdown19' data-alignment="right" data-beloworigin="true">
                    <i class="material-icons">more_vert</i>
                  </a>
                  <!-- Dropdown Structure -->
                  <ul id='dropdown19' class='dropdown-content z-depth-4'>
                    <li><a href="#!"><i class="material-icons">archive</i> Send to Archive</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l4">
              <div class="card-white-panel">
                <div class="checkbox-item">
                  <input type="checkbox" class="filled-in" id="chk9" />
                  <label for="chk9"></label>
                  <div class="invoice-name orange-light">SN</div>
                </div>
                <div class="invoice-details">
                  <h5> +6+6</h5>
                  <strong>93.0 %</strong>
                </div>
                <div class="action-btn-group">
                  <a href="#"><i class="material-icons">send</i></a>
                  <a href="#"><i class="material-icons">create</i></a>
                  <a href="#"><i class="material-icons">delete</i></a>
                  <a id="dLabel" class='dropdown-button' href='#' data-activates='dropdown20' data-alignment="right" data-beloworigin="true">
                    <i class="material-icons">more_vert</i>
                  </a>
                  <!-- Dropdown Structure -->
                  <ul id='dropdown20' class='dropdown-content z-depth-4'>
                    <li><a href="#!"><i class="material-icons">archive</i> Send to Archive</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l4">
              <div class="card-white-panel">
                <div class="checkbox-item">
                  <input type="checkbox" class="filled-in" id="chk10" />
                  <label for="chk10"></label>
                  <div class="invoice-name green-light">RJ</div>
                </div>
                <div class="invoice-details">
                  <h5> +6+6</h5>
                  <strong>93.0 %</strong>
                </div>
                <div class="action-btn-group">
                  <a href="#"><i class="material-icons">send</i></a>
                  <a href="#"><i class="material-icons">create</i></a>
                  <a href="#"><i class="material-icons">delete</i></a>
                  <a id="dLabel" class='dropdown-button' href='#' data-activates='dropdown21' data-alignment="right" data-beloworigin="true">
                    <i class="material-icons">more_vert</i>
                  </a>
                  <!-- Dropdown Structure -->
                  <ul id='dropdown21' class='dropdown-content z-depth-4'>
                    <li><a href="#!"><i class="material-icons">archive</i> Send to Archive</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l4">
              <div class="card-white-panel">
                <div class="checkbox-item">
                  <input type="checkbox" class="filled-in" id="chk11" />
                  <label for="chk11"></label>
                  <div class="invoice-name purple-light">SK</div>
                </div>
                <div class="invoice-details">
                  <h5> +6+6</h5>
                  <strong>93.0 %</strong>
                </div>
                <div class="action-btn-group">
                  <a href="#"><i class="material-icons">send</i></a>
                  <a href="#"><i class="material-icons">create</i></a>
                  <a href="#"><i class="material-icons">delete</i></a>
                  <a id="dLabel" class='dropdown-button' href='#' data-activates='dropdown22' data-alignment="right" data-beloworigin="true">
                    <i class="material-icons">more_vert</i>
                  </a>
                  <!-- Dropdown Structure -->
                  <ul id='dropdown22' class='dropdown-content z-depth-4'>
                    <li><a href="#!"><i class="material-icons">archive</i> Send to Archive</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l4">
              <div class="card-white-panel">
                <div class="checkbox-item">
                  <input type="checkbox" class="filled-in" id="chk34" />
                  <label for="chk34"></label>
                  <div class="invoice-name  blue-light">SN</div>
                </div>
                <div class="invoice-details">
                  <h5> +6+6</h5>
                  <strong>93.0 %</strong>
                </div>
                <div class="action-btn-group">
                  <a href="#"><i class="material-icons">send</i></a>
                  <a href="#"><i class="material-icons">create</i></a>
                  <a href="#"><i class="material-icons">delete</i></a>
                  <a id="dLabel" class='dropdown-button' href='#' data-activates='dropdown17' data-alignment="right" data-beloworigin="true">
                    <i class="material-icons">more_vert</i>
                  </a>
                  <!-- Dropdown Structure -->
                  <ul id='dropdown17' class='dropdown-content z-depth-4'>
                    <li><a href="#!"><i class="material-icons">archive</i> Send to Archive</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l4">
              <div class="card-white-panel">
                <div class="checkbox-item">
                  <input type="checkbox" class="filled-in" id="chk35" />
                  <label for="chk35"></label>
                  <div class="invoice-name  purple-light">BJ</div>
                </div>
                <div class="invoice-details">
                  <h5> +6+6</h5>
                  <strong>93.0 %</strong>
                </div>
                <div class="action-btn-group">
                  <a href="#"><i class="material-icons">send</i></a>
                  <a href="#"><i class="material-icons">create</i></a>
                  <a href="#"><i class="material-icons">delete</i></a>
                  <a id="dLabel" class='dropdown-button' href='#' data-activates='dropdown18' data-alignment="right" data-beloworigin="true">
                    <i class="material-icons">more_vert</i>
                  </a>
                  <!-- Dropdown Structure -->
                  <ul id='dropdown18' class='dropdown-content z-depth-4'>
                    <li><a href="#!"><i class="material-icons">archive</i> Send to Archive</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l4">
              <div class="card-white-panel">
                <div class="checkbox-item">
                  <input type="checkbox" class="filled-in" id="chk36" />
                  <label for="chk36"></label>
                  <div class="invoice-name  orange-light">CC</div>
                </div>
                <div class="invoice-details">
                  <h5> +6+6</h5>
                  <strong>93.0 %</strong>
                </div>
                <div class="action-btn-group">
                  <a href="#"><i class="material-icons">send</i></a>
                  <a href="#"><i class="material-icons">create</i></a>
                  <a href="#"><i class="material-icons">delete</i></a>
                  <a id="dLabel1" class='dropdown-button' href='#' data-activates='dropdown19' data-alignment="right" data-beloworigin="true">
                    <i class="material-icons">more_vert</i>
                  </a>
                  <!-- Dropdown Structure -->
                  <ul id='dropdown19' class='dropdown-content z-depth-4'>
                    <li><a href="#!"><i class="material-icons">archive</i> Send to Archive</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l4">
              <div class="card-white-panel">
                <div class="checkbox-item">
                  <input type="checkbox" class="filled-in" id="chk37" />
                  <label for="chk37"></label>
                  <div class="invoice-name orange-light">SN</div>
                </div>
                <div class="invoice-details">
                  <h5> +6+6</h5>
                  <strong>93.0 %</strong>
                </div>
                <div class="action-btn-group">
                  <a href="#"><i class="material-icons">send</i></a>
                  <a href="#"><i class="material-icons">create</i></a>
                  <a href="#"><i class="material-icons">delete</i></a>
                  <a id="dLabel" class='dropdown-button' href='#' data-activates='dropdown20' data-alignment="right" data-beloworigin="true">
                    <i class="material-icons">more_vert</i>
                  </a>
                  <!-- Dropdown Structure -->
                  <ul id='dropdown20' class='dropdown-content z-depth-4'>
                    <li><a href="#!"><i class="material-icons">archive</i> Send to Archive</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l4">
              <div class="card-white-panel">
                <div class="checkbox-item">
                  <input type="checkbox" class="filled-in" id="chk38" />
                  <label for="chk38"></label>
                  <div class="invoice-name green-light">RJ</div>
                </div>
                <div class="invoice-details">
                  <h5> +6+6</h5>
                  <strong>93.0 %</strong>
                </div>
                <div class="action-btn-group">
                  <a href="#"><i class="material-icons">send</i></a>
                  <a href="#"><i class="material-icons">create</i></a>
                  <a href="#"><i class="material-icons">delete</i></a>
                  <a id="dLabel" class='dropdown-button' href='#' data-activates='dropdown21' data-alignment="right" data-beloworigin="true">
                    <i class="material-icons">more_vert</i>
                  </a>
                  <!-- Dropdown Structure -->
                  <ul id='dropdown21' class='dropdown-content z-depth-4'>
                    <li><a href="#!"><i class="material-icons">archive</i> Send to Archive</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l4">
              <div class="card-white-panel">
                <div class="checkbox-item">
                  <input type="checkbox" class="filled-in" id="chk39" />
                  <label for="chk39"></label>
                  <div class="invoice-name purple-light">SK</div>
                </div>
                <div class="invoice-details">
                  <h5> +6+6</h5>
                  <strong>93.0 %</strong>
                </div>
                <div class="action-btn-group">
                  <a href="#"><i class="material-icons">send</i></a>
                  <a href="#"><i class="material-icons">create</i></a>
                  <a href="#"><i class="material-icons">delete</i></a>
                  <a id="dLabel" class='dropdown-button' href='#' data-activates='dropdown22' data-alignment="right" data-beloworigin="true">
                    <i class="material-icons">more_vert</i>
                  </a>
                  <!-- Dropdown Structure -->
                  <ul id='dropdown22' class='dropdown-content z-depth-4'>
                    <li><a href="#!"><i class="material-icons">archive</i> Send to Archive</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


<!-- Small Modal Structure -->
<div id="CreatNewmodal" class="modal creatNewModal">
  <div class="modal-content">
    <div class="modal-header clearfix">
      <a href="#" class="right modal-close"><i class="material-icons">done</i></a>
    </div>
    <div class="modal-body">
      <form class="">
        <div class="input-field">
          <input id="text1" type="email" class="validate">
          <i class="material-icons">warning</i>
          <label for="text1" data-error="wrong" data-success="right">Name</label>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- View modal Structure -->
<div id="modal1" class="modal viewModal itemModal">
  <div class="modal-content">
    <div class="modal-header clearfix text-content">
      <h5 class="left text-blue">Taxes</h5>
      <div class="modal-action-btn right">
        <a href="#" class="modal-close"><i class="material-icons">done</i></a>
      </div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="field-block col s6">
          <label for="taxname">Tax Name</label>
          <span>Service Tax</span>
        </div>
        <div class="field-block col s6">
          <label for="percentage">Percentage</label>
          <span>14.0</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Edit Payment Structure -->
<div id="modal2" class="modal editableModal edititemModal">
  <div class="modal-content">
    <div class="modal-header clearfix text-content">
      <h5 class="left">Taxes</h5>
      <div class="modal-action-btn right">
        <a href="#" class="modal-close"><i class="material-icons" >done</i></a>
      </div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="input-field col s6">
          <select>
            <option value="1">Service Tax</option>
            <option value="2">Income Tax</option>
          </select>
          <label>Tax Name</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="" id="taxname" value="14.0" type="text">
          <label for="taxname">Percentage</label>
        </div>
      </div>
    </div>
  </div>
</div>

