.companies-main{
  .label_field.left{
        width: 150px;
    }
  .label_field label{
        width:130px;
        text-align: left;
    }
    #company_time_zone_chzn.chzn-container .chzn-results{
        max-height: 120px;
    }
    select{
        width: 226px;
    }
}

.full_width_table{
  width: 100% !important;
  .serial_heading {
    width: 8%;
  }
  .count_heading {
    width: 10%;
    text-align: center;
  }
}