.reports.aged_accounts {
  select#criteria_client_id {
    width: 180px;
  }
  .report_update {
    float: left;
  }
}

.reports {
  .grid_table table.aged_accounts_listing {
    width: 100%;
    col.one {width: 120px;}
    col.two, col.three, col.four, col.five {width: 70px; font-weight: normal;}
    col.six {width: 92px;}
    &.de, &.fr{
      th{
        line-height: normal;
        padding: 5px 10px 5px 5px;
        text-align: left !important;
      }
    }
    &.de{
      col{
        &.one{
          width: 150px;
        }
        &.two{
          width: 105px;
        }
        &.three{
          width: 105px;
        }
        &.four{
          width: 105px;
        }
        &.five{
          width: 105px;
        }
        &.six{
          width: 270px;
        }
      }

    }
    &.fr{
      col{
        &.one{
          width: 170px;
        }
        &.two{
          width: 110px;
        }
        &.three{
          width: 120px;
        }
        &.four{
          width: 120px;
        }
        &.five{
          width: 120px;
        }
        &.six{
          width: 200px;
        }
      }
    }



    .col_hover, .row_hover, tfoot tr:hover{background-color: #F7F7F7;}
    tfoot tr td{
      /*border-bottom: medium double #dadada;*/
      &:first-child, &:last-child{
        font-weight: bold;
      }
    }
  }
}