#calendar{width: 40%}
.log{
  .new_log,.edit_log{float: right}
  .new_log,.edit_log, .fields_content_data, .fields_content{ width: 50% }
  .grid_table thead tr th{width: 100%}
  .fields_content_data, .field_row{width: 100%}

}
#calendar{float: left; margin-top: 8%}

.fc-event-title,.fc-event-inner,
.fc-ltr .fc-event-hori.fc-event-start, .fc-rtl .fc-event-hori.fc-event-end{
  background-color: #fff4d6 !important;
  border: 0px !important;
  color: black !important;
  padding: 1px 3px !important;
}