.log{
  .month{
    .new_log,.edit_log{float: right;width: 40%}
    .fields_content_data, .fields_content{ width: 100% }
    .field_row{width: 100%}
    //#calendar{ margin-top: 8%; float: right; }
    .fc-day{ width: 100px}
    #calendar{  margin-top: 8%; float: left; width: 50% }
  }

  .basicWeek{
    .new_log,.edit_log{float: left;width: 100%}
    .fields_content_data, .fields_content{ width: 100%; padding-top: 5px; }
    .fc-day{ width: 100px}

    #calendar{ padding-top: 5%; width: 90%;float: right}
    #calendar_form{clear: both}
    #form_week_main{margin-top: 5%}
    .small_field input {text-align: center; width: 87%}
    #hours_div{width: 100%;}
   // #hours_div_inner{width: 90%;float:right;overflow: hidden;}
    #hours_div_inner{width: 90%; overflow: hidden;margin-left: 83px;}
    #hours_label{width:10%}
    #hours_div .small_field {width: 14.287%; float: left}
    .fc-day-content{ height: 40px}

//    .fc-view-container{width: 100%}
//    .fc-sun, .fc-mon, .fc-tue, .fc-wed, .fc-thu, .fc-fri, .fc-sat{width: 100% !important;}
  }
  .grid_table thead tr th{width: 100%}
  //.fields_content_data, .field_row{width: 100%}
   h1 span {    color: #00bde5; font-family: inherit; font-size: 24px;}
 // .fc-week, .fc-border-separate{height: 20px !important;}

}

.fc-event-title,.fc-event-inner,
.fc-ltr .fc-event-hori.fc-event-start, .fc-rtl .fc-event-hori.fc-event-end{
  background-color: #fff4d6 !important;
  border: 0px !important;
  color: black !important;
  padding: 1px 3px !important;
}

//Timer

//.timer{width: }
.timer_body{background-color: white}
.center {display: block; margin-left: auto; margin-right: auto;}
#timer_wrapper{ width:380px; height: 100%; padding-top: 40px; background-color: white}
#timer_wrapper{
  .btn_large{min-width:57px}
  #timer_buttons{ width: 205px; }
  .fields_content{padding-left: 10px}
  .content_middle,.content_bottom, form{background-color: white}
  .log-submit-btn{width:100px}
  #log_date_div{display:none}
}
.timer_button{float:right}



$clock-font-size: 50px;
$clock-height: ($clock-font-size * 1.2);
$digit-gap: 8px;
$border-radius: 10px;
$dot-size: 12px;

.flip-clock-wrapper ul {
  width: ($clock-font-size * 0.8);
  height: $clock-height;
  margin: 0 ($digit-gap / 2);
}

.flip-clock-wrapper ul li {
  line-height: $clock-height;
}

.flip-clock-wrapper ul li a div div.inn {
  font-size: $clock-font-size;
}

.flip-clock-wrapper ul,
.flip-clock-wrapper ul li a div div.inn {
  border-radius: $border-radius;
}

.flip-clock-wrapper ul li a div.down {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.flip-clock-wrapper ul li a div.up:after {
  top: (($clock-height / 2) - 1px);
}

.flip-clock-dot.top {
  top: ($clock-height / 2 - $clock-font-size * 0.2 - $dot-size / 2);
}

.flip-clock-dot.bottom {
  top: ($clock-height / 2 + $clock-font-size * 0.2 - $dot-size / 2);
}

.flip-clock-dot{
  width: $dot-size;
  height: $dot-size;
  left: $dot-size;
}

.flip-clock-divider {
  width: ($dot-size * 3);
}


//Generate Invoice

.btn_invoice{float:right}