.clients{
  .grid_table table col.one{ /*check box*/
    width : 33px;
  }
  .grid_table table col.two{ /*organization*/
    width :140px;
  }
  .grid_table table col.three{ /*contacts*/
    width: 112px;
  }
  .grid_table table col.four{ /*email*/
    width : 230px;
  }
  .grid_table table col.five{ /*phone*/
    width : 120px;
  }
  .grid_table table col.six{ /*available credit*/
    width : 135px;
  }
  .grid_table table col.seven{ /*actions*/
    width : 70px;
  }
}
#detail, #contact{
  cursor: pointer;
}
/*.response_to_client{
  margin: auto;
  width: 490px;
   #response_to_client {
     width: 490px;
   }
  .response_container{
    border: 1px solid #CCCCCC;
    float: left;
    margin-bottom: 30px;

    .response_top{
      float: left;
      padding: 20px 15px;
      border-bottom: 1px solid #CCCCCC;
      width:510px;
      .float-right{
        float:right;
        clear:both;
        text-align: right;
        .detail{
          float:right;
          background-color: #FFFBE1;
          border: 1px solid #E4DFBE;
          border-radius: 5px 5px 5px 5px;
          padding: 10px 15px;
        }
        .info{
          clear:both;
          float: right;
        }
      }
      .float-left{
        clear:both;
        .detail{
          float:left;
          background-color: #FFFBE1;
          border: 1px solid #E4DFBE;
          border-radius: 5px 5px 5px 5px;
          padding: 10px 15px;
        }
        .info{
          clear:both;
          float: left;
        }
      }
    }
    .response_bottom{
      padding: 20px 15px;
    }
  }
}
*/