.clients {
  .grid_table table col.one {
    /*check box*/
    width: 33px;
  }
  .grid_table table col.two {
    /*organization*/
    width: 140px;
  }
  .grid_table table col.three {
    /*contacts*/
    width: 171px;
  }
  .grid_table table col.four {
    /*email*/
    width: 171px;
  }
  .grid_table table col.five {
    /*phone*/
    width: 120px;
  }
  .grid_table table col.six {
    /*available credit*/
    width: 135px;
  }
  .grid_table table col.seven {
    /*actions*/
    width: 70px;
  }
  .grid_table{
    table{
      &.de{
        col{
          &.one{
            width: 33px;
          }
          &.two{
            width: 120px;
          }
          &.three{
            width: 200px;
          }
          &.four{
            width: 105px;
          }
          &.five{
            width: 102px;
          }
          &.six{
            width: 190px;
          }
          &.seven{
            width: 90px;
          }
        }
      }
      &.fr{
        col{
          &.one{
            width: 33px;
          }
          &.two{
            width: 120px;
          }
          &.three{
            width: 200px;
          }
          &.four{
            width: 105px;
          }
          &.five{
            width: 102px;
          }
          &.six{
            width: 190px;
          }
          &.seven{
            width: 90px;
          }
        }
      }
    }
  }





  .label_field.single{
    &.template{
      padding-top: 19px;
    }
  }
  .label_field.left{
    &.options{
      width: 100%;
    }
  }
  .options_content{
    margin: 0px;
    padding-left: 130px;
  }
  .options_content_row{
    padding-top: 12px;
    input[type="radio"], input[type="checkbox"], label{
      float: left;
    }
    input[type="checkbox"]{
      margin-left: 22px;
    }
    label{
      line-height: normal;
      padding: 0 0 0 10px;
      margin: 0px;
      font-weight: normal;
      cursor: pointer;
    }
  }
  .fields_content{
    padding-top: 34px;
  }
}
.grid_table table{
  border-collapse: separate;
  th:first-child {
    border-radius: 4px 0 0 0 !important;
  }
  th:last-child {
    border-radius: 0 4px 0 0 !important;
  }
}
#detail, #contact {
  cursor: pointer;
}
.client_detail_row:hover{
  background: none !important;
}
.client_wrapper{
  padding: 0px 0px 30px 0px !important;
}
.client_container{
  float: left;
  width: 838px;
  height: 237px;
  border: 1px solid #e1e1e1;
  border-radius: 0px 0px 3px 3px;
  margin: auto;
}
.client_container_top{
  float: left;
  width: 100%;
  .top_corner{
    float: left;
    background: asset-url('top_corner.png') no-repeat;
    width: 22px;
    height: 12px;
    margin: -1px 0 0 41px;
  }
  .cross_btn{
    float: right;
    background: asset-url('btn_x_client.png') no-repeat;
    width: 7px;
    height: 7px;
    margin: 11px 10px 0 0;
    cursor: pointer;
    &:hover{
      background: asset-url('btn_x_client.png') no-repeat 0px -7px;
    }
  }
}

.client_row_content{
  float: left;
  width: 100%;
  padding: 16px 0 0 0;
}
.client_bal{
  float: left;
  width: 140px;
  padding: 0 0 0 41px;

  .bal_box{
    float: left;;
    width: 100%;
    &.center{
      padding: 24px 0;
    }
    h2{
      font-family: "Dosis Medium",sans-serif;
      &.orange{
        color: #ff8a00;
      }
      &.blue{
        color: #00ACE5;
      }
    }
    h2, p{
      float: left;
      width: 100%;
    }
    p{
      font-size: 11px;
      color: #959595;
    }
  }
}

.client_invoices{
  float: left;
  width: 288px;
  height: 171px;
  &.primary{
    margin: 0 42px 0 0;
  }
  h2{
    font-size: 18px;
    color: #00ace5;
    padding-bottom: 6px;
    float: left;
    width: 50%;
  }
  a.client_new_invoice,
  a.client_new_payment{
    font-family: "Dosis Medium",sans-serif;
    float: right;
    font-size: 13px;
    line-height: 26px;
    padding: 0 21px 0 0;
  }
  .scrollContainer{
    height: 114px;
  }
  .mCustomScrollBox > .mCSB_scrollTools{
    right: -5px;
  }
  .grid_table{
    &.top{
      padding-top: 0px;
      width: 100%;
      table{
        table-layout: auto;
        col.one {/*invoice*/
          //width: 60px !important;
        }
        th:last-child{
          padding-right: 21px;
        }
      }
    }
    &.btm{
      padding-top: 0px;
      width: 92.5%;
    }
    table{
      col.one {/*invoice*/
        width: 50px;
      }
      col.two { /*client pvt*/
        width: 67px;
      }
      col.three { /*company*/
        width: 95px;
      }
      col.four { /*date*/
        width: 83px;
      }
      th{
        font-weight: bold;
        color: #464646;
        border-right: none !important;
        border-top: 1px solid #d7d7d7;
        border-bottom: 1px solid #d7d7d7;
        border-radius: 0px !important;
      }
      td{
        border-bottom: 1px solid #d7d7d7;
        :last-child{
          border-bottom: none !important;
        }
      }
      tr{
        th, td{
          background: #ffffff;
          padding-right: 0px;
          padding-left: 0px;
          text-align: center;
          font-size: 11px;
        }
      }
    }
  }
}

