.company {
  .content_middle{
    /*padding-top: 56px;*/
    &.form{
      padding-top: 0px;
    }
  }

  .grid_table table {
    col.one {
      /*check box*/
      width: 33px;
    }
    col.two {
      /*invoice*/
      width: 150px;
    }
    col.three {
      /*clients*/
      width: 150px;
    }
    col.four {
      /*description*/
      width: 280px;
    }
    col.five {
      /*total*/
      width: 130px;
    }
    col.six {
      /*total*/
      width: 90px;
    }
  }
  .fields_content{
    padding-top: 34px;
  }
  .label_field.left{
    width: 128px !important;
  }

  .input-xlarge{
    width: 419px;
    border-radius: 4px 0 0 4px;
  }

  .input-append{
    .btn{
      border-radius: 0 4px 4px 0;
    }
  }

  .field_description.select li{
    margin-top: -4px;
  }
  .custom_logo{
    display: inline-flex;
  }
}
