.modal .info-section .info-left-section strong{
    display: inline-block;
}
#side-nav .profile-info .profile-details .menudd:after{
    left: 116px;
}

.hidden{
    display: none;
}
#activity-sidebar .mCustomScrollBox{
    padding-right: 10px;
}