.modal .info-section .info-left-section strong{
    display: inline-block;
}

.clientsModal .info-section .info-left-section strong{
    display: block;
}
#side-nav .profile-info .profile-details .menudd:after{
    left: 116px;
}

.hidden{
    display: none;
}
#activity-sidebar .mCustomScrollBox{
    padding-right: 10px;
}
.large_modal{
    width: 86%;
}

.editPaymentModal h6 .inline-select{
    width: 100%;
}

input#expense_amount{
    border: none;
}

#graph_container{
    height: 350px;
    margin: 0 auto;
    max-width: 750px;
}
.custom-graph{
    max-width: 450px !important;
}

.newModel .input-field input+label{
    top: 0px;
}
.editTaxModal .input-field input+label, .users .input-field input+label, .edit_account .input-field input+label{
    top: 0px;
}


.modal.editProject table tbody tr {
    position: relative; }
.modal.editProject table tbody tr.elementsAction {
    position: absolute;
    left: 6px;
    border: none; }
.modal.editProject table tbody tr.elementsAction a {
    display: inline-block;
    margin-top: 5px; }
.modal.editProject table tbody tr.elementsAction a i {
    font-size: 13px;
    color: #b5b5b5; }
@media only screen and (max-width: 767px) {
    .modal.editProject table tbody tr.elementsAction {
        position: static;
        left: 0;
        padding: 0; }
    .modal.editProject table tbody tr.elementsAction a {
        margin-left: 10px; }
    .modal.editProject table tbody tr.elementsAction a:first-child {
        margin-left: 0; } }
.modal.editProject .addTaskRow {
    border-radius: 22px;
    padding: 3px 8px;
    font-size: 10px;
    color: #8f8f8f;
    border: 1px solid #dfdede;
    display: inline-block; }
@media only screen and (max-width: 767px) {
    .modal.editProject .addTaskRow {
        margin-left: -30px;
        margin-bottom: 15px; } }


.modal.editProject table tr th:first-child {
    width: 33px;
    background-color: transparent; }
.modal.editProject table tr td:first-child {
    border-bottom: 1px solid #fff;
    padding: 10px 5px; }
.modal.editProject .elementsAction {
    width: 28px; }
.modal.editProject .elementsAction a {
    display: inline-block;
    color: #b5b5b5; }
.modal.editProject .elementsAction a i {
    font-size: 10px; }

.modal.editProject td .inline-select.title-select {
    width: 100%; }

.log-box{
    padding: 0 10px;
}
#calendar_form .input-field{
    margin-top: 0px !important;
    width: 90%;
}

#calendar_form textarea.materialize-textarea{
    padding: 0px !important;
}

#loading-indicator {
    height: 103px;
    left: 50%;
    margin: -75px 0 0 -75px;
    opacity: 0.85;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 100px;
    z-index: 1060;
}

#card-alert button {
    background: none;
    border: none;
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 20px;
    color: #fff;
}

#flash_message {
    overflow: hidden;
    padding-left: 107px;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    margin-right: 330px; }
#flash_message.side-show {
    position: relative;
    padding-left: 281px;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    margin-right: 0;
    padding-right: 330px; }

@media only screen and (max-width: 992px) {
    #flash_message.side-show {
        padding-right: 0px;
    }
}

a.modal-close i{
    font-size: 22px !important;
}
.inline_form input[type='submit']{
    background-color: #09b8e2;
    float: right;

}
.inline_form input[type='submit']{
    background-color: #09b8e2;
}

.inline_form .input-field .select-wrapper .dropdown-content li span {
    color: #454545;
    display: block;
    line-height: 22px;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 400;
}

.inline_form .input-field .select-wrapper .dropdown-content {
    top: 36px !important;
    font-size: 12px;
    color: #454545;
    line-height: 14px;
    height: auto;
    margin-bottom: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.inline_form .input-field .select-wrapper .caret {
    color: #b5b5b5;
}

.inline_form .input-field .select-wrapper .select-dropdown {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 12px;
    border-bottom-color: #dadada;
    line-height: 24px;
    height: auto;
}

.inline_form .input-field input[type='number']{
    font-size: 14px;
    color: #454545;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border-bottom-color: #dadada;
    line-height: 35px;
    height: auto;
    margin-bottom: 12px;
}
.inline_form .input-field textarea{
    border-bottom-color: #DADADA;
}
.inline_form .input-field input[type='number']:focus, .inline_form .input-field textarea:focus{
    border-bottom-color: #DADADA;
    box-shadow: none;
}
.inline_form .input-field input+label.active{
  top: 15px;
  color: #b5b5b5;
}

.logs_table{
    margin-top: 20px;
}

.editAccountModal .dropdown-content{
    height: 180px!important;
}

.project_log_details .log_hours, .project_log_details .log_rate{
    padding: 0px !important;
}

.project_log_details .amount-box{
    height: 50px;
}

input.filled-in:checked + label:after {
    background: #6a6a6a !important;
    border-color: #6a6a6a !important;
}

h3.heading_with_action{
  display: block;
  width: 100%;
}

.task-card .invoice-details .amount-box{
    height: 30px;
}

.editInvoice .info-center-section{
    float: left;
    padding: 0px 100px;
}


.editInvoice .info-center-section span i.material-icons {
    font-size: 14px;
    line-height: 11px;
    vertical-align: bottom;
    color: #b5b5b5;
}

.editInvoice .info-center-section span {
    font-size: 11px;
    display: inline-block;
    text-transform: uppercase;
    line-height: 11px;
}

.editInvoice .info-center-section span small {
    font-weight: bold;
    font-size: 11px;
}

.editInvoice .info-center-section .input-field input, .editInvoice .info-center-section .input-field select{
    border-bottom-color: transparent !important;
    box-shadow: none !important;
}

.editInvoice .invoice_grid_fields input, .editInvoice .invoice_grid_fields input:focus {
    border-bottom: none !important;
    box-shadow: none !important;
    margin-bottom: 0px !important;
}

.editInvoice .invoice_grid_fields tr td{
    padding: 0px 12px !important;
}

.editInvoice .estimate_grid_fields input, .editInvoice .estimate_grid_fields input:focus {
    border-bottom: none !important;
    box-shadow: none !important;
    margin-bottom: 0px !important;
}

.editInvoice .estimate_grid_fields tr td{
    padding: 0px 12px !important;
}
span.invoice-recurring-status{
    width: 100% !important;
    text-transform: none !important;
}

#main-content .breadcrum-bar h3 span a{
    font-size: 20px;
    margin: 0;
    line-height: 1.4;
    font-weight: 400;
    color: #09b8e2;
}

.time-tracking .breadcrum-bar .select-wrapper .select-dropdown{
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    border-bottom-color: transparent;
    margin-bottom: 0;
    line-height: 1.4;
}