.testi-comma {
  background: url("images/commas.png") no-repeat;
}
.download-icon {
  background:  url("images/download-icon.svg") no-repeat;
}
.eye-icon {
  background:  url("images/eye-icon.svg") no-repeat;
}

.section-3 {
  background:  url("images/section-3-bg.jpg") no-repeat;
}