.invoice_preview{
    h1 span{
        font-size: 14px;
    }
    h1.small{
        font-size: 20px;
    }
    /*General CSS Ends*/

    /* Payment Css Starts */
    .content_header {
        float: left;
        width: 100%;
        border-bottom: 1px solid #99E5F5;
    }
    .content_header h1 {
        float: left;
        padding: 0 0 2px;
        line-height: normal;
    }
    .content_header ul{
        float: right;
        padding: 20px 0 0 0;
    }
    .content_header ul li{
        float: left;
        height: 12px;
        border-right: 1px solid #00ace5;
    }
    .content_header ul li a{
        font-family: Arial, Helvetica, sans-serif;
        display: block;
        font-size: 13px;
        color: #00ace5;
        padding: 0 13px 0 13px;
        line-height: 10px;
    }
    .content_header ul li a:hover{
        text-decoration: underline;
    }
    .no_border{
        border: none !important;
    }
    .no_padding{
        padding-right: 0px !important;
    }
    .enter_payment_btn{
        float: left;
        text-align: center;
        width: 100%;
        padding: 30px 0;
    }
    .enter_payment_btn a{
        background-color: #00BDE5;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        color: #FFFFFF;
        display: inline-block;
        font-family: 'Dosis',sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 38px;
        padding: 0 25px;
        text-decoration: none;
        text-transform: uppercase;
    }
    .pdf_link{
        width: 100%;
        float: left;
    }
    .pdf_link p a{
        color: #00ACE5;
        float: right;
        margin: 0 0 7px 0;
    }
    .pdf_link p a:hover{
        color: #00ACE5;
        text-decoration: underline;
    }
    .payment_content{
        float: left;
        width: 100%;
    }
    .payment_container{
        border: 1px solid #d7d7d7;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        overflow: hidden;
    }
    .payment_corner{
        float: left;
        position: absolute;
        margin: -1px 0 0 -1px;
        *margin: -1px 0 0 -760px;
        width: 100px;
        height:100px;
    }
    .sent_green{
        background: asset-url('sent_green.png') no-repeat;
    }
    .sent_blue{
        background: asset-url('sent_blue.png') no-repeat;
    }
    .draft{
        background: asset-url('draft.png') no-repeat;
    }
    .disputed{
        background: asset-url('disputed.png') no-repeat;
    }
    .draft_partial{
        background: asset-url('draft_partial.png') no-repeat;
    }
    .partial{
        background: asset-url('partial.png') no-repeat;
    }
    .payment_invoice_data{
        float: left;
        width: 92.3%;
        position: relative;
        padding: 56px 29px 0 29px;
    }
    .primary_address{
        float: left;
        width: 100%;
    }
    .primary_address address, .secondary_address address{
        padding: 0 0 0 31px;
        margin: 0;
    }
    .primary_address address p{
        margin: 0 0 -2px 0;
    }
    .payment_summary{
        float: left;
        width: 100%;
        padding: 17px 0 0 0;
    }
    .secondary_address{
        float: left;
    }
    .bold{
        font-weight: bold;
    }
    .payment_summary_table{
        float: right;
        padding: 10px 0 0 0;
    }
    .payment_summary_table col.first{
        width: 132px;
    }
    .payment_summary_table col.second{
        width: 148px;
    }
    .payment_summary_table table tr td:first-child,
    .payment_summary_table table th:first-child{
        text-align: left;
        padding: 0 0 2px 10px;

    }
    .payment_summary_table table tr td:last-child,
    .payment_summary_table table th:last-child{
        text-align: right;
        padding: 0 10px 0 0;
    }
    .payment_summary_table table tr th{
        font-weight: bold;
    }
    .single_border{
        border-top: 1px solid #d7d7d7;
    }
    .double_border{
        border-top: 1px solid #d7d7d7;
        border-bottom: 1px solid #d7d7d7;
    }
    .payment_invoice_table{
        float: left;
        width: 100%;
        padding: 55px 0 0 0;
    }
    .top_padding{
        padding-top: 5px !important;
    }
    .bottom_padding{
        padding-bottom: 3px !important;
    }
    .time_entry{
        float: left;
        width: 100%;
        padding: 0 0 30px 0;
    }
    .time_entry table col.first{
        width : 140px;
    }
    .time_entry table col.second {
        width : 278px;
    }
    .time_entry table col.third {
        width: 100px;
    }
    .time_entry table col.forth{
        width : 82px;
    }
    .time_entry table col.fifth {
        width : 100px;
    }
    .time_entry table tr {
        height : 30px;
    }
    .time_entry table th{
        background-color: #898989;
        font-family:Arial, Helvetica, sans-serif;
        font-size:13px;
        font-weight:bold;
        color:#ffffff;
        border-right:1px solid #ffffff !important;
    }
    .time_entry table td{
        font-family:Arial, Helvetica, sans-serif;
        font-size:13px;
        color:#464646;
        border-bottom: 1px solid #D7D7D7
    }
    .time_entry table td span{
        font-size: 10px;
        text-transform: uppercase;
    }
    .time_entry table td, .time_entry table th {
        padding : 0 11px;
    }
    .time_entry table th:first-child {
        border-radius: 5px 0 0 5px;
        -moz-border-radius: 5px 0 0 5px;
        -webkit-border-radius: 5px 0 0 5px;
    }
    .time_entry table th:last-child {
        border-radius: 0 5px 5px 0;
        -moz-border-radius: 0 5px 5px 0;
        -webkit-border-radius: 0 5px 5px 0;
    }
    .align_left{
        text-align:left;
    }
    .align_right{
        text-align:right;
    }
    .align_center{
        text-align:center;
    }
    .time_entry .no_border{
        border-right:none !important;
    }
    .payment_total{
        float: left;
        width: 100%;
        padding: 0 0 40px 0;
    }
    .terms_notes{
        float: left;
        width: 100%;
    }
    .terms_notes h3{
        font-size: 13px;
        font-weight: bold;
        line-height: normal;
        margin: 0px;
    }
    .terms{
        float: left;
        padding: 0 52px 0 0;
        width: 47%;
    }
    .notes{
        float: left;
        width: 45%;
    }
    .payment_footer{
        float: left;
        width: 100%;
        padding: 62px 0 32px 0;
    }
    .payment_footer p{
        float: right;
        font-size: 10px;
    }
    @media all {
        .payment_footer p {
        width: 205px;
        }
    }
    .payment_footer p img{
        padding: 0 0 0 4px;
    }
}