.reports .item_sales {
  .grid_table table{
    col.one{width:  210px}
    col.two{width:      112px}
    col.three{width:    180px}
    col.four{width:     180px}
    col.five{width:     180px}
    .col_hover, .row_hover{background-color: #F7F7F7;}
    th, td{padding: 0 5px;}
    th, td{font-size: 13px}
    tfoot{border-bottom: medium double #dadada; font-weight: bold;}
  }
}