.reports .item_sales {
  .grid_table table{
    col.one{width:  210px}
    col.two{width:      130px}
    col.three{width:    175px}
    col.four{width:     175px}
    col.five{width:     175px}
    &.de, &.fr{
      th{
        line-height: normal;
        padding: 5px 10px 5px 5px;
        text-align: left !important;
      }
    }
    &.de{
      col{
        &.one{
          width: 145px;
        }
        &.two{
          width: 208px;
        }
        &.three{
          width: 150px;
        }
        &.four{
          width: 214px;
        }
        &.five{
          width: 123px;
        }
      }

    }
    &.fr{
      col{
        &.one{
          width: 145px;
        }
        &.two{
          width: 208px;
        }
        &.three{
          width: 150px;
        }
        &.four{
          width: 214px;
        }
        &.five{
          width: 123px;
        }
      }
    }




    .col_hover, .row_hover{background-color: #F7F7F7;}
    tfoot tr td{
      /*border-bottom: medium double #dadada;*/
      &:first-child, &:last-child{
        font-weight: bold;
      }
    }
  }
}