.log_page {
  .log_container {
    width: 414px;
    margin: auto;
    padding: 20px 0 0 0;
  }
  .log_content {
    float: left;
    background-color: #ffffff;
    padding: 0 36px 16px;
    width: 342px;
    &.change_password{
      width: 363px;
    }
  }
  .log_top {
    float: left;
    width: 100%;
    padding: 35px 0 20px 0;
    text-align: center;
  }
  .log_top h1 span {
    font-size: 24px;
  }
  .log_fields {
    float: left;
    padding: 9px 0 0 0;
  }
  .field_row {
    min-height: 50px;
    &.forgot{
      min-height: auto;
    }
  }
  .field_row.sign_up {
    min-height: 33px;
  }
  .label_field {
    float: left;
    min-width: 58px;
    padding: 0 8px 0 7px;
    border: 1px solid #cccccc;
    border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    box-shadow: 3px 3px 3px #F3F3F3 inset;
    height: 28px;
    line-height: 28px;
    text-align: left;
    color: #9B9B9B;
    font-size: 13px;
    font-weight: normal;
    border-right: none;
    margin-top: 0px;
  }
  .label_field.sign_up {
    min-width: 73px;
  }
  .label_field label {
    line-height: 28px;
    text-align: left;
    color: #9B9B9B;
    font-size: 13px;
    font-weight: normal;
  }
  .medium_field {
    width: 262px;
    .sign_up {
      width: 254px !important;
    }
    &.change_password_field{
      width: 261px;
    }
  }
  .medium_field.sign_up {
    width: 250px !important;
  }
  .medium_field input {
    float: left;
    /*border: 1px solid #D7D7D7;*/
    border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    color: #464646;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    margin-bottom: 0;
    padding: 0 9px;
    width: 247px;
    &.confirm_field{
      width: 259px;
    }
  }
  .medium_field input.sign_up {
    width: 234px !important;
  }
  .field_row.checkbox {
    min-height: 16px;
    padding: 0px;
  }
  .field_row.checkbox input {
    float: left;
    margin: 0;
  }
  .field_row.checkbox{
    label{
      float: left;
      margin: 0;
      padding: 0 0 0 7px;
      line-height: 13px;
      font-weight: normal;
      width: 90%;
    }
    &.login{
      label{
        width: 180px;
        p{
          float: left;
          width: 100%;
        }
        span{
          font-size: 11px;
        }
      }
      a{
        float: right;
        line-height: 13px;
        padding: 0 1px 0 0;
      }
    }

  }
  .field_row.checkbox label {
    .ie7 &, .ie8 &, .ie9 &, .ie10 {
      line-height: 1;
      padding-top: 2px;
    }
  }
  .field_row.checkbox label {
    .ie8 &, .ie9 &, .ie10 {
      margin-top: -2px;
    }
  }
  .field_row label span {
    color: #9b9b9b;
  }
  .log_btm {
    float: left;
    width: 100%;
    text-align: center;
    padding: 30px 0;
    input[type="submit"]{
      text-transform: capitalize;
      padding: 0 18px;
    }
    .btn_large.grey.forgot{
      min-width: 84px;
      text-transform: capitalize;
      color: #ffffff;
    }
  }

  .log_footer {
    width: 392px;
    margin: auto;
    clear: both;
    font-size: 11px;
    padding: 4px 0 0 0;
  }
  .site_link {
    float: left;
  }
  .site_link, .team_link a {
    color: #00ace5;
  }
  .site_link:hover, .team_link a:hover {
    text-decoration: underline;
    color: #00ace5;
  }
  .team_link {
    float: right;
    padding: 0 2px 0 0;
  }
  .notice {
    color: #FF0000;
    text-align: center;
    padding: 0 0 11px 0;
  }
  .log_para{
    float: left;
    width: 100%;
    padding: 7px 0 1px 0;
    p{
      line-height: 1.3;
      font-size: 12px;
    }
  }
}
.change_password_form{
  .fields_content_container{
    width: 500px;
  }
  .fields_content_data{
    padding: 0px;
  }
  .large_field input, .large_field textarea, input[type="password"]{
    width: 350px;
  }
  input[type="password"]{
    padding: 0 9px;
    margin: 0px;
    height: 28px;
    line-height: 28px;
  }
  .btn_large.submit{
    text-transform: capitalize;
  }


}