.log_invoice_form{
   .grid_summary {
    float: right;
    margin: 14px 25px 0;
    padding: 0 0 30px;
    width: 50%;
  }

  #log_invoice_grid_fields{
    width: 100% !important;
  }
}

.log form textarea {max-width: 203px }
#timer_wrapper textarea{max-width: 200px}