.payment{

    .grid_table table col.one{ /*check box*/
        width : 33px;
    }
    .grid_table table col.two{ /*invoice*/
        width : 94px;
    }
    .grid_table table col.three{ /*clients*/
        width: 240px;
    }
    .grid_table table col.four{ /*type*/
        width : 176px;
    }
    .grid_table table col.five{ /*notes*/
        width : 90px;
    }
    .grid_table table col.six{ /*date*/
        width : 90px;
    }
    .grid_table table col.seven{ /*amount*/
        width : 125px;
    }

    .grid_table{
      table{
        &.de{
          col{
            &.one{
              width: 33px;
            }
            &.two{
              width: 120px;
            }
            &.three{
              width: 183px;
            }
            &.four{
              width: 75px;
            }
            &.five{
              width: 90px;
            }
            &.six{
              width: 125px;
            }
            &.seven{
              width: 214px;
            }
          }
        }
        &.fr{
          col{
            &.one{
              width: 33px;
            }
            &.two{
              width: 120px;
            }
            &.three{
              width: 183px;
            }
            &.four{
              width: 75px;
            }
            &.five{
              width: 90px;
            }
            &.six{
              width: 125px;
            }
            &.seven{
              width: 214px;
            }
          }
        }
      }
    }



}

td.payment_amount span{
  font-size: 15px;
}
.continue_delete_msg{
  color: #464646;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 20px 0 0;
  padding: 3px 0 0;
  text-align: center;
}
.payments_with_credit{
    .grid_table table col.one{ /*invoices*/
        width : 94px;
    }
    .grid_table table col.two{ /*clients*/
        width: 202px;
    }
    .grid_table table col.three{ /*type*/
        width : 82px;
    }
    .grid_table table col.four{ /*notes*/
        width : 247px;
    }
    .grid_table table col.five{ /*date*/
        width : 90px;
    }
    .grid_table table col.six{ /*amount*/
        width : 125px;
    }

}

.stripe_page {
  background-color: #fff;
  margin: 20px 0;
  .connect-button {
    width: 200px;
    margin: 0 auto;
  }
}

.logo-container {
  font-size: 24px;
  line-height: 32px;
}

.logo-image {
  height: 55px;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  margin: 0 40%;
}

.stripe-title {
  color: #0D83DD;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
}

.stripe-features, .stripe-cost {
  font-size: 15px;
  list-style: circle;
  float: left;
  margin: 5px 20px;
  li {
    margin: 10px auto;
    .card-list {
      img {
        width: 36px;
        vertical-align: bottom;
        margin: 1px;
      }
      display: inline-block;
    }
  }
}

.isconnected{
  display: inline-block;
  float: right;
  margin-top: 5px;
  padding: 15px 0 0 0;
}
.selected-plan{
  -webkit-box-shadow: -1px 2px 5px 9px rgba(0,0,0,0.16);
  -moz-box-shadow: -1px 2px 5px 9px rgba(0,0,0,0.16);
  box-shadow: -1px 2px 5px 9px rgba(0,0,0,0.16);
  //padding: 5px 5px 5px 10px;
  margin-top: 10px;
}
.plans-list{
  margin-top: 20px;
}
.config-box-list{
  margin-bottom: 15px;
}
.center-align{
  text-align: center;
}
