.payments_collected {
  .grid_table table{
    col.one  {width: 115px;}
    col.two  {width: 167px;}
    col.three{width: 102px;}
    col.four {width: 286px;}
    col.five {width: 92px;}
    col.six  {width: 110px;}
    .col_hover, .row_hover, tfoot tr:hover{background-color: #F7F7F7;}
    tfoot tr td{
      /*border-bottom: medium double #dadada;*/
      &:first-child, &:last-child{
        font-weight: bold;
      }
    }
  }
}