.payment_history{

    .grid_table{
        padding-top:35px;

        table{
            col.one{ /*invoice*/
                width : 94px;
            }
            col.two{ /*client*/
                width : 214px;
            }
            col.three{ /*type*/
                width : 82px;
            }
            col.four{ /*notes*/
                width : 286px;
            }
            col.five{ /*date*/
                width : 82px;
            }
            col.six{ /*amount*/
                width : 82px;
            }
        }
    }

  .content_bottom{
    height: 65px;
  }
}

