  /*
   *= require materialize
   *= require main
  */

  body {
    padding-top: 10px !important;
  }
  .report-copyrights{
    font-size: 14px;
  }
  .paid-logo{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 20%;
    margin: auto;
    opacity: 0.2;
    width: 80%;
    height: auto;
    z-index: 1;
  }

  .header {
    .fl {
      float: left;
    }
    .fr {
      float: right;
    }
  }

  .show_invoice {
    .invoice_preview {
      float: left;
      width: 100%;
      padding: 0 0 60px 0;
    }
    .inovice_preview_contianer {
      margin: auto;
      width: 100%;
      border: 1px solid #d7d7d7;
      overflow: hidden;
      border-radius: 4px;
      min-height: 90px;
    }
    .invoice_tag {
      position: absolute;
      margin: -1px 0 0 -1px;
      width: 90px;
      height: 90px;
      *margin: -1px 0 0 -839px;
    }
    .invoice_preview_content {
      width: 95%;
      padding: 20px;
    }
    .preview_content_top {
      padding-bottom: 11px;
    }
    .preview_top {
      padding-bottom: 25px !important;
      float: left;
    }
    .preview_top,
    .preview_btm {
      width: 95%;
      border-bottom: 1px solid #d7d7d7;
      padding: 0 0 30px 0;
      .preview_top_left {
        float: left;
        width: 60%;
        padding-left: 10px;
        .invoice_date {
          float: left;
          width: 100%;
          padding: 0 0 21px 0;
          h2 {
            color: #00BDE5;
            font-size: 18px;
            font-family: "Dosis Medium", sans-serif;
          ;
            text-transform: capitalize;
            span {
              text-transform: capitalize;
              font-size: 18px;
              font-family: "Dosis Regular", sans-serif;
            }
          }
        }
        .invoice_name {
          float: left;
          width: 100%;
          font-weight: bold;
        }
      }
      .preview_top_right,
      pr {
        float: right;
        width: 40%;
        padding: 5px 0 0 0;
        .company_logo {
          float: right;
          position: relative;
          width: auto;
          padding-right: 10px;
          img {
            padding-bottom: 5px;
          }
        }
        .logo_tagline {
          width: auto;
          float: right;
          padding: 16px 0 0 0;
          text-align: right;
        }
      }
    }
    .preview_btm {
      float: left;
      width: 100%;
      padding: 25px 0 0 0;
      border: none;
      .preview_top_right {
        padding-top: 0px;
        overflow: hidden;
        .top_right_row {
          float: left;
          margin-bottom: -2px;
        }
        .top_right_row:last-child {
          height: auto;
        }
        .preview_right_label {
          float: left;
          width: 82px;
          text-align: left;
          span {
            float: right;
          }
        }
        .preview_right_description {
          float: left;
          width: 152px;
          text-align: right;
        }
      }
    }
    .invoice_address {
      float: left;
      width: 100%;
    }
    .invoice_address p,
    .invoice_organization p {
      float: left;
      width: 100%;
      line-height: normal;
      padding: 0 0 2px 0;
    }
    .invoice_organization {
      float: left;
      width: 100%;
    }
    .preview_heading {
      font-weight: bold;
    }
    .preview_right {
      float: right;
      width: 256px;
    }
    .preview_content_middle {
      width: 100%;
      padding: 0 0 25px 0;
    }
    .preview_content_btm {
      float: left;
      width: 100%;
      padding: 25px 0 30px 0;
    }
    .preview_btm_top {
      float: right;
      width: 100%;
    }
    .preview_left.btm {
      padding-left: 0px;
      width: 500px;
    }
    .preview_terms {
      float: left;
      width: 100%;
      padding: 0 0 22px 0;
    }
    .preview_terms p,
    .preview_notes p {
      float: left;
      width: 100%;
      padding: 0 0 6px 0;
      line-height: normal;
    }
    .preview_notes {
      float: left;
      width: 75%;
    }
    .preview_right.btm {
      padding-top: 0px;
      .preview_right_label {
        float: left;
        width: auto;
        text-align: left;
      }
      .preview_right_description {
        float: right;
      }
    }
    .top_right_row {
      overflow: hidden;
      padding: 0 10px;
    }
    .top_right_row.border {
      border-bottom: 1px solid #d7d7d7;
      margin-bottom: 5px;
      padding-bottom: 3px;
      overflow: hidden;
    }
    .top_right_row.amt_paid {
      color: #00ace5;
    }
    .preview_btm_footer {
      float: left;
      width: 95%;
      padding: 90px 0 0 0;
    }
    .preview_btm_footer ul {
      float: right;
    }
    .preview_btm_footer ul li {
      float: left;
      display: block;
      padding: 0 0 0 4px;
    }
    .footer_txt {
      font-size: 10px;
      padding: 1px 0 0 0 !important;
    }
    .border-row {
      border-top: 1px solid #D7D7D7;
      padding-top: 3px;
      margin-top: 5px;
      overflow: hidden;
    }
  }

  .show_estimate {
    .estimate_preview {
      float: left;
      width: 100%;
      padding: 0 0 60px 0;
    }
    .estimate_preview_contianer {
      margin: auto;
      width: 100%;
      border: 1px solid #d7d7d7;
      overflow: hidden;
      border-radius: 4px;
      min-height: 90px;
    }
    .estimate_tag {
      position: absolute;
      margin: -1px 0 0 -1px;
      width: 90px;
      height: 90px;
      *margin: -1px 0 0 -839px;
    }
    .estimate_preview_content {
      width: 95%;
      padding: 65px 29px 0 29px;
    }
    .preview_content_top {
      padding-bottom: 11px;
    }
    .preview_top {
      padding-bottom: 25px !important;
      float: left;
    }
    .preview_top,
    .preview_btm {
      width: 95%;
      border-bottom: 1px solid #d7d7d7;
      padding: 0 0 30px 0;
      .preview_top_left {
        float: left;
        width: 60%;
        padding-left: 10px;
        .estimate_date {
          float: left;
          width: 100%;
          padding: 0 0 21px 0;
          h2 {
            color: #00BDE5;
            font-size: 18px;
            font-family: "Dosis Medium", sans-serif;
          ;
            text-transform: capitalize;
            span {
              text-transform: capitalize;
              font-size: 18px;
              font-family: "Dosis Regular", sans-serif;
            }
          }
        }
        .estimate_name {
          float: left;
          width: 100%;
          font-weight: bold;
        }
      }
      .preview_top_right,
      pr {
        float: right;
        width: 40%;
        padding: 5px 0 0 0;
        .company_logo {
          float: right;
          position: relative;
          width: auto;
          padding-right: 10px;
          img {
            padding-bottom: 5px;
          }
        }
        .logo_tagline {
          width: auto;
          float: right;
          padding: 16px 0 0 0;
          text-align: right;
        }
      }
    }
    .preview_btm {
      float: left;
      width: 100%;
      padding: 25px 0 0 0;
      border: none;
      .preview_top_right {
        padding-top: 0px;
        overflow: hidden;
        .top_right_row {
          float: left;
          margin-bottom: -2px;
        }
        .top_right_row:last-child {
          height: auto;
        }
        .preview_right_label {
          float: left;
          width: 82px;
          text-align: left;
          span {
            float: right;
          }
        }
        .preview_right_description {
          float: left;
          width: 152px;
          text-align: right;
        }
      }
    }
    .estimate_address {
      float: left;
      width: 100%;
    }
    .estimate_address p,
    .estimate_organization p {
      float: left;
      width: 100%;
      line-height: normal;
      padding: 0 0 2px 0;
    }
    .estimate_organization {
      float: left;
      width: 100%;
    }
    .preview_heading {
      font-weight: bold;
    }
    .preview_right {
      float: right;
      width: 256px;
    }
    .preview_content_middle {
      width: 97%;
      padding: 0 0 25px 0;
    }
    .preview_content_btm {
      float: left;
      width: 100%;
      padding: 25px 0 30px 0;
    }
    .preview_btm_top {
      float: left;
      width: 95%;
    }
    .preview_left.btm {
      padding-left: 0px;
      width: 500px;
    }
    .preview_terms {
      float: left;
      width: 100%;
      padding: 0 0 22px 0;
    }
    .preview_terms p,
    .preview_notes p {
      float: left;
      width: 100%;
      padding: 0 0 6px 0;
      line-height: normal;
    }
    .preview_notes {
      float: left;
      width: 75%;
    }
    .preview_right.btm {
      padding-top: 0px;
      .preview_right_label {
        float: left;
        width: 100px;
        text-align: left;
      }
      .preview_right_description {
        float: right;
      }
    }
    .top_right_row {
      overflow: hidden;
      padding: 0 10px;
    }
    .top_right_row.border {
      border-bottom: 1px solid #d7d7d7;
      margin-bottom: 5px;
      padding-bottom: 3px;
      overflow: hidden;
    }
    .top_right_row.amt_paid {
      color: #00ace5;
    }
    .preview_btm_footer {
      float: left;
      width: 95%;
      padding: 90px 0 0 0;
    }
    .preview_btm_footer ul {
      float: right;
    }
    .preview_btm_footer ul li {
      float: left;
      display: block;
      padding: 0 0 0 4px;
    }
    .footer_txt {
      font-size: 10px;
      padding: 1px 0 0 0 !important;
    }
    .border-row {
      border-top: 1px solid #D7D7D7;
      padding-top: 3px;
      margin-top: 5px;
      overflow: hidden;
    }
  }

  .simple-responsive.report_content.report-inner-scroll-container {
    overflow: hidden;
    height: 100%;
  }

  i.base-currency-equivalent {
    font-size: 0.8em;
    color: #8c8c8c;
  }

  .new-invoice-holder .info-section .info-right-section {
    margin-top: 48px;
    width: 40%;
  }

  .new-invoice-holder .info-section .info-left-section {
    width: 60%;
    margin-top: 48px !important;
  }

  .new-invoice-footer .right-section.right {
    width: 400px !important;
    padding: 0px !important;
    .invoice-total-left {
      .new-invoice-footer-row {
        padding-bottom: 10px;
      }
    }
  }

  .new-invoice-holder {
    margin: 0 !important;
  }

  .container-fluid {
    padding: 0 !important;
  }

  body {
    padding: 0 !important;
  }

  .new-invoice-holder .new-invoice-table-holder {
    padding: 5px 5px 3px;
  }
  .custbreak{
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .custbreak:last-child{
    margin-top: 10px;
  }

  .invoice-items-table{
    display: block;
    clear: both;
    height: 1020px !important;
    position: relative;
    &.secondary{
      thead{
        display: table-row-group !important;
      }
    }
    &.primary {
      display: block;
      clear: both;
      height: 750px !important;
    }

    &:last-child{
      height: auto !important;
    }
  }

  .page-box {
    margin-top: 0px !important;
  }

  .client {
    text-align: left;
  }

  table tbody tr {
    border-bottom: 2px solid #D0D0D0;
  }
  table tbody tr td{
   height:30px;
  }

  //@media all{
  //  tr
  //  {
  //    page-break-inside:avoid;
  //    page-break-after:auto;
  //  }
  //}
  .new-invoice-table-holder .grid-view .table-view-body tr {
    cursor: unset;
  }

  .description{
    font-size: 11px !important;
  }
  .avoid_page_break {
    page-break-inside: avoid !important;
  }

  .alwaysbreak {
    page-break-before: always;
  }

  .page_break {
    clear: both;
    //  overflow: hidden;
    display: block;
    page-break-after: always;
  }

  .container {
    width: 100% !important;
  }

  .align_left {
    text-align: left !important;
  }

  .s_no_col {
    width: 8% !important;
  }

  .invoice-items,
  .new-invoice-footer {
    width: 95%;
    margin: auto;
  }
  .new-invoice-holder .new-invoice-table-holder{
    &.without_tax {
      th, td{
        width: 13%;
        &:first-child{
          width: 6%;
        }
        &:nth-child(2){
          width: 55%;
        }
        &:nth-child(4){
          width: 13%;
        }
        &:nth-child(5){
          width: 13%;
        }

      }
    }
    &.with_single_tax {
      th, td{
        width: 13%;
        &:first-child{
          width: 6%;
        }
        &:nth-child(2){
          width: 50%;
        }
        &:nth-child(4){
          width: 9%;
        }
        &:nth-child(5){
          width: 9%;
        }

      }
    }
    &.with_dual_tax {
      th, td{
        width: 10%;
        &:first-child{
          width: 6%;
        }
        &:nth-child(2){
          width: 50%;
        }
        &:nth-child(4){
          width: 8%;
        }
        &:nth-child(5){
          width: 8%;
        }
        &:nth-child(6){
          width: 8%;
        }

      }
    }
  }

  .estimate-popup .new-estimate-table-holder{
    &.without_tax {
      th, td{
        width: 12.5%;
        &:first-child{
          width: 7%;
        }
        &:nth-child(3){
          width: 48%;
        }
        &:nth-child(4){
          width: 11%;
        }
        &:nth-child(5){
          width: 9%;
        }
      }
    }
    &.with_single_tax {
      th, td{
        width: 10%;
        &:first-child{
          width: 7%;
        }
        &:nth-child(3){
          width: 43%;
        }
        &:nth-child(4){
          width: 11%;
        }
        &:nth-child(5){
          width: 9%;
        }
        &:nth-child(6){
          width: 9%;
        }

      }
    }
    &.with_dual_tax {
      th, td{
        width: 11%;
        &:first-child{
          width: 7%;
        }
        &:nth-child(3){
          width: 37%;
        }
        &:nth-child(5){
          width: 8%;
        }
        &:nth-child(6){
          width: 8%;
        }
        &:nth-child(7){
          width: 8%;
        }

      }
    }
  }
