.recurring_profile_form{
  .fre_select{
    padding: 0 5px;
    select{
      width: 90px;
      overflow: none;
    }
  }
  .fields_content_left{
    .field_row.recurring{
      .small_field{
        input[type="text"]{
          width: 80px;
        }
      }
    }
    .medium_field{
      input[type="text"]{
        width: 280px;
      }
    }
  }
}
