.reports {
  .chzn-search{
    width: auto !important;
    input[type="text"]{
      width: 135px !important;
      margin: 0 5px 0 4px !important;
    }
  }
  .content_top {
    border: none;
  }
  .report_header {
    float: left;
    width: 97.7%;
    background-color: #f5f4f4;
    border: 1px solid #d7d7d7;
    border-radius: 4px 4px 0 0;
    padding: 12px 9px;
  }
  .report_header_content {
    float: left;
    width: 100%;
    height: 30px;
  }
  .report_date {
    float: left;
  }
  .report_date p {
    float: left;
    line-height: 30px;
  }
  .control_name {
    float: left;
  }
  .control_name p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #464646;
    font-weight: bold;
    line-height: 30px;
  }
  .report_date input, .report_clients input {
    float: left;
    border: 1px solid #D7D7D7;
    border-radius: 3px;
    color: #464646;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    padding: 0 9px;
    text-align: center;
    margin: 0 5px;
  }
  .report_date input {
    width: 62px;
  }
  .client_select, .report_select {
    float: left;
    padding: 0 5px;
  }
  .report_clients, .report_items {
    float: left;
    padding: 0 0 0 5px;
  }
  .report_clients, .report_items {
    select {
      width: 155px;
    }
  }
  .report_update {
    float: left;
    padding: 0 0 0 9px;
  }
  .report_update input {
    display: block;
    padding: 0 19px 0 19px;
    background-color: #00bde5;
    border-radius: 3px;
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    height: 30px;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    border: none;
  }
  .report_content {
    width: 100%;
    overflow: hidden;
  }
  .report_content_container {
    background-color: #ffffff;
    border: 1px solid #d7d7d7;
    border-radius: 4px 0px 0px 4px;
    overflow: hidden;
    padding: 20px 29px 0 29px;
  }
  .report_content_header {
    float: left;
    width: 640px;
    padding: 30px 0 0;
  }
  .report_content_heading {
    float: left;
  }
  .content_header_data {
    float: left;
    width: 100%;
    padding: 0 0 11px 0;
  }
  .header_data_left {
    float: left;
  }
  .header_name {
    font-weight: bold;
    font-size: 13px;
    padding: 6px 0 0 0;
  }
  .header_duration {
    font-weight: normal;
    font-size: 13px;
  }
  .header_description {
    font-size: 11px;
    padding: 5px 0 0 0;
  }
  .header_data_right {
    float: right;
    width: 200px;
    padding: 90px 0 0 0;
  }
  .download_report {
    float: right;
    padding: 0 0 6px 0;
  }
  .download_report li {
    float: left;
    font-size: 11px;
    color: #00ace5;
    padding-left: 7px;
    line-height: 10px;
  }
  .download_report_title {
    color: #464646 !important;
    padding: 0 1px 0 0;
  }
  .download_sep {
    border-right: 1px solid #00ace5;
    padding-right: 6px;
  }
  .print_report {
    float: right;
    width: 100%;
    padding: 3px 0 0 0;
  }
  .print_report li a {
    float: right;
    display: block;
    font-size: 11px;
    color: #00ace5;
  }
  .report_duration {
    float: left;
    width: 100%;
  }
  .report_duration ul {
    float: right;
  }
  .report_duration ul li {
    float: left;
    font-size: 13px;
    font-weight: bold;
    padding: 0 0 0 9px;
  }
  .report_duration ul li span {
    font-weight: normal;
  }

  .grid_table table th {
    border-right: 1px solid #c2c2c2 !important;
  }
  .grid_table table th:first-child {
    border-radius: 5px 0 0 0;
  }
  .grid_table table th:last-child {
    border-radius: 0 5px 0 0;
    border-right: none !important;
  }
  .report_footer {
    float: left;
    padding: 0 10px 0 0;
    width: 98.4%;
  }
  .total_payment {
    float: left;
    width: 100%;
  }
  .total_payment ul {
    float: right;
  }
  .total_payment ul li {
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    font-weight: bold;
    font-size: 13px;
  }
  .total_payment ul li span {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: normal;
  }
  .total_payment_title {
    width: 211px;
    text-align: left;
  }
  .footer_note {
    float: left;
    width: 100%;
  }
  .footer_note p {
    text-align: right;
    font-size: 10px;
  }
  .table_listing{
    .align_right.header {
      padding-right: 25px;
    }
  }
  table{
    td{
      vertical-align: top;
    }
    tbody{
      td{
        vertical-align: top;
      }
      tr:last-child{
        td{
          border-bottom: 1px solid #808080;
        }
      }
    }
    tfoot{
      td{
        font-weight: bold;
        border-bottom: 1px solid #808080;
      }
    }
  }
}

