
.search{
  .select2-container{
    width: 61.4% !important;

  }

}
.select2-container-multi .select2-choices{
  border: none !important;
  border-radius: 0px !important;
  background-image: none !important;
}

.select2-drop-active{
  width: 52.9% !important;
  left: 345.359px !important;
  border: none !important;
  border-radius: 0px !important;
}

.select2-search-choice-close{
  top: 5px !important;
  padding: 4px !important;
}