.sent_email{
    .grid_table{
        padding: 35px 0 40px 0;
        table col.one{ /*subject*/
        width : 330px;
        }
        table col.two{  /*receipt*/
        width : 330px;
        }
        table col.three{ /*type*/
        width: 90px;
        }
        table col.four{ /*date*/
        width : 90px;
        }
        
    }
}
