a.btn.active.btn-danger, a.btn.active.btn-success {
  color: #ffffff;
  background-color: #00BDE5;
}
a.btn.btn-default {
  color: #000000;
  background-color: #FFFFFF;
  background-position: 0px;
  z-index: 0;
}
.fields_content_container{
  &.basic{
    width: 500px;
    select{
      width: 350px;
    }
  }
}
