.show_email{
  .content_top{
    border-bottom: 0px;
  }
  .help_page{
    float: left;
    width: 95.3%;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    padding: 19px 18px 19px 18px;
    margin: 10px 0 0 0;
  }
}