.show_invoice{
    .primary_links{
        float:right;
        min-height: 15px;
        padding: 23px 0 0;
    }
    .links_dd{
        background: url(/assets/links_dd.png) no-repeat right;
        padding: 0 12px 0 0;
    }
    .btn_large.big{
        padding-left: 25px;
        padding-right: 25px;
    }
    .content_bottom.top{
        padding: 30px 0;
    }
    .invoice_preview{
        float: left;
        width: 100%;
        padding: 0 0 60px 0;
    }
    .inovice_preview_contianer{
        margin: auto;
        width: 100%;
        border: 1px solid #d7d7d7;
        overflow: hidden;
        border-radius: 4px;
        min-height: 90px;
    }
    .invoice_tag{
        position: absolute;
        margin: -1px 0 0 -1px;
        width: 90px;
        height: 90px;
        *margin: -1px 0 0 -839px;
    }
    .draft{
        background: url(/assets/draft.png) no-repeat;
    }
    .sent{
        background: url(/assets/sent.png) no-repeat;
    }
    .draft-partial{
        background: url(/assets/draft_partial.png) no-repeat;
    }
    .partial{
        background: url(/assets/partial.png) no-repeat;
    }
    .paid{
        background: url(/assets/paid.png) no-repeat;
    }
    .disputed{
        background: url(/assets/disputed.png) no-repeat;
    }
    .viewed{
        background: url(/assets/viewed.png) no-repeat;
    }
    .invoice_preview_content{
        float: left;
        position: relative;
        width: 780px;
        padding: 54px 29px 0 29px;
    }
    .preview_content_top{
        float: left;
        width: 100%;
        padding-bottom: 40px;
    }
    .preview_left{
        float: left;
        width: 475px;
        padding: 0 0 0 25px;
    }
    .invoice_name{
        float: left;
        width: 100%;
        padding: 0 0 24px 0;
        font-family: 'Dosis Medium';
        font-size: 24px;
    }
    .invoice_address{
        float: left;
        width: 100%;
        padding: 0 0 24px 0;
    }
    .invoice_address p, .invoice_organization p{
        float: left;
        width: 100%;
        line-height: normal;
        padding: 0 0 2px 0;
    }
    .invoice_organization{
        float: left;
        width: 100%;
    }
    .preview_heading{
        font-weight: bold;
    }
    .preview_right{
        float: right;
        width: 254px;
        padding: 66px 0 0 0;
    }
    .top_right_row{
        float: left;
        width: 235px;
        min-height: 22px;
        padding: 0 10px 0 9px
    }
    .top_right_row:last-child{
        height: auto;
    }
    .preview_right_label{
        float: left;
        width: 120px;
        text-align: left;
    }
    .preview_right_description{
        float: left;
        width: 115px;
        text-align: right;
    }
    .preview_content_middle{
        float: left;
        width: 100%;
        padding: 0 0 40px 0;
    }
    .grid_table table col.one{
        width : 140px;
    }
    .grid_table table col.two{
        width : 400px;
    }
    .grid_table table col.three{
        width: 120px;
    }
    .grid_table table col.four{
        width : 80px;
    }
    .grid_table table col.five{
        width : 100px;
    }
    .preview_content_btm{
        float: left;
        width: 100%;
        padding: 0 0 30px 0;
    }
    .preview_btm_top{
        float: left;
        width: 100%;
    }
    .preview_left.btm{
        padding-left: 0px;
        width: 500px;
    }
    .preview_terms{
        float: left;
        width: 100%;
        padding: 0 0 22px 0;
    }
    .preview_terms p, .preview_notes p{
        float: left;
        width: 100%;
        padding: 0 0 6px 0;
        line-height: normal;
    }
    .preview_notes{
        float: left;
        width: 100%;
    }
    .preview_right.btm{
        padding-top: 0px;
    }
    .top_right_row.border{
        border-bottom: 1px solid #d7d7d7;
        margin-bottom: 5px;
        padding-bottom: 3px;
    }
    .top_right_row.amt_paid{
        color: #00ace5;
    }
    .preview_btm_footer{
        float: left;
        width: 100%;
        padding: 90px 0 0 0;
    }
    .preview_btm_footer ul{
        float: right;
    }
    .preview_btm_footer ul li{
        float: left;
        display: block;
        padding: 0 0 0 4px;
    }
    .footer_txt{
        font-size: 10px;
        padding: 1px 0 0 0 !important;
    }
    .border-row{
      border-top: 1px solid #D7D7D7;
      padding-top: 3px;
      margin-top: 5px;
    }
}

.dispute_popup{
    .modal .cross_btn{
        margin-top: -50px;
    }
    .fields_content_data{
        padding-top: 1px;
    }
    label{
        font-weight: normal;
        padding-bottom: 2px;
    }
    .large_field textarea{
        width: 690px;
        min-height: 60px;
    }
    .modal .modal-body{
        min-height: auto;
    }
    .modal .footer{
        padding-top: 11px;
    }
    .modal-backdrop, .modal-backdrop.fade.in{
        opacity: 0.5;
    }
    .modal{
        box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.4);
    }
}