.taxes{

    .grid_table table col.one{ /*check box*/
        width : 33px;
    }
    .grid_table table col.two{ /*name*/
        width : 359px;
    }
    .grid_table table col.three{ /*percentage*/
        width: 378px;
    }
    .grid_table table col.four{ /*actions*/
        width : 70px;
    }
   
}
