.unpaid_invoice{

    .grid_table table col.one{
        width : 33px;
    }
    .grid_table table col.two{
        width : 82px;
    }
    .grid_table table col.three{
        width: 200px;
    }
    .grid_table table col.four{
        width : 125px;
    }
    .grid_table table col.five{
        width : 140px;
    }
    .grid_table table col.six{
        width : 130px;
    }
    .grid_table table col.seven{
        width : 130px;
    }
    .grid_table{
      padding-top: 0px;
    }

}
