.unpaid_invoice{

    .grid_table table col.one{
        width : 33px;
    }
    .grid_table table col.two{
        width : 82px;
    }
    .grid_table table col.three{
        width: 266px;
    }
    .grid_table table col.four{
        width : 197px;
    }
    .grid_table table col.five{
        width : 82px;
    }
    .grid_table table col.six{
        width : 90px;
    }
    .grid_table table col.seven{
        width : 90px;
    }

}
