<% @expenses.group_by { |d| d.group_date }.each do |date, expenses| %>
    <p><span class="activity-date"><%= date %></span></p>
    <div class="flex-wrapper">
      <%= render partial: 'expense_card', collection: expenses, as: :expense %>
    </div>
<% end %>