<div class="content_top">
  <div class="primary_heading">
    <h1><%= t('views.expenses.new_expense') %></h1>
  </div>
</div><!--content_top-->

<%= render 'form' %>

<%= link_to 'Back', expenses_path %>
