<div class="email_template_class">
  <div class="content_top">
    <div class="primary_heading">
      <h1><%= t('views.email_templates.new') %></h1>
    </div>
  </div>
  <!--content_top-->
  <div class="content_middle form">
    <%= render 'form' %>
  </div>
  <!--content_middle-->

</div>

