<div class="grid_table">
  <div class="primary_heading">
    <h5>Time logs for <span id="logs_for"><%=@date%></span> </h5>
  </div>
  <table cellpadding="0" cellspacing="0" class="bordered striped responsive-table <%= I18n.locale %>">
    <thead id="log_head">
    <%= render partial: 'logs_header' %>
    </thead>
    <tbody id="task_body" class="table-panel">
    <%= render 'logs' %>

    </tbody>
  </table>
</div>
<!--grid_table-->