<div class="page-box report-section time-log-table">
  <h5 class="text-blue"><%= t('views.logs.time_logs') %> <span id="logs_for"><%=@date%></span> </h5>
  <div class="simple-responsive">
    <table class="bordered log_table">
      <thead id="log_head">
      <%= render partial: 'logs_header' %>
      </thead>
      <tbody id="task_body" class="table-panel">
      <%= render 'logs' %>
      </tbody>
    </table>
  </div>
</div>
<!--grid_table-->