<%- model_class = Invoice -%>

<div class="content_top">
  <div class="primary_heading">
    <h1>Choose Project</h1>
  </div>
</div><!--content_top-->

    <div class="content_middle">
    <%= form_tag(invoice_form_logs_url, method: "post") do %>
        <div class="fields_content_data">
            <div class="field_row">
                <div class="label_field left single"><span><%= t('views.logs.project') %></span></div>
                <div class="small_field">
                    <%= select_tag :project_id, options_for_select(load_projects_for_invoice), include_blank: 'Select a Project'   %>
                </div>
                <div class="btn_invoice">
                    <%= submit_tag('Generate Invoice',:class => "btn_large submit generate_invoice_btn") %>
                </div>
            </div>
        </div>
    </div>
    <div class="content_bottom">

    </div>
    <% end %>
