<div class="col s12 l12 xl7">

  <div class="dashboard-whitebox">
    <h3>
      Stats
    </h3>
    <div class="data-wrapper">
      <ul class="currentData">
        <%= render 'actual_currency' %>
      </ul>
      <ul class="pastData">
        <%#= render 'base_currency' %>
      </ul>
    </div>
  </div>
</div>