<%= render "recent_activity" %>
<div id="main-content" class='side-show'>
  <div class="row">
    <!--- main content --->
    <%= render 'widgets'%>
    <!--- Invocies list --->
    <%= render 'invoices_list'%>
  </div>
</div>