<div id="invoice_model" class="modal">
  <div class="modal-content">
  </div>
</div>
<div id="modal3" class="modal editableModal editInvoice large_modal">
  <div class="modal-content">
  </div>
</div>
<div id="expense_modal" class="modal viewModal expenseModal">
  <div class="modal-content">
  </div>
</div>
<div id="modal2" class="modal editableModal editPaymentModal">
  <div class="modal-content">
  </div>
</div>
<div id="modal2" class="modal editableModal editPaymentModal editAccountModal">
  <div class="modal-content">
  </div>
</div>
<div id="modal1" class="modal viewModal paymentModal">
  <div class="modal-content">
  </div>
</div>
<div id="client_model" class="modal viewModal clientsModal">
  <div class="modal-content">
  </div>
</div>
<div id="modal2" class="modal editableModal editProject editClient newModel large_modal">
  <div class="modal-content">
  </div>
</div>

<div id="modal2" class="modal editableModal editItemModal  newModel ">
  <div class="modal-content">
  </div>
</div>
<div id="modal1" class="modal viewModal itemModal">
  <div class="modal-content">
  </div>
</div>
<div id="modal2" class="modal editableModal edititemModal">
  <div class="modal-content">

  </div>
</div>
<div id="modal2" class="modal editableModal editTaxModal edititemModal">
  <div class="modal-content">

  </div>
</div>
<div id="freshModal" class="modal editableModal importModal">
</div>
<div id="emailTemplateModal" class="modal editableModal templateModal">
</div>