<div class="content_top">
  <div class="primary_heading">
    <h1><%= t('views.accounts.account') %></h1>
  </div>
</div>
<!--content_top-->

<div class="companies_wrapper">
  <%= render 'form' %>
</div>

<%#= link_to 'Show', @company %>
<%#= link_to 'Back', companies_path %>
